@import '../../base/animations';
@import '../../abstracts/variables';
@mixin logeSize(){
    width: 55px;
    height: 65px;
    border-radius: 3rem;
    border: .2px solid rgb(0, 166, 196);

}
@mixin bord($color: rgb(0, 166, 196)){
    border: 1px dashed $color;
}

.skill_logoStrip{
    height: 172px;
    position: relative;
    z-index: 999;
    // transform-style: preserve-3d;
    // perspective: 1100px;
    perspective-origin:0% -50%;
    transform-origin:  left;
    display: flex;

    &__left{
        width: 11%;
        z-index: -1;
        
        margin-right: -33px;}

.SkillLogo__meSVG{
    z-index: -1;

}
    
    &__right{
        width: 4%;
        transform: translate3d(0,40px,0);
        z-index: 44;
        position: relative;
        border-bottom-left-radius: 20% 50%;
        border-top-left-radius: 20% 50%;
        box-shadow: -14px 0 11px -7px rgba(0, 0, 0, 0.307);
        &::after{
            content: "";
            top: -15px;
            z-index: 44;
            width:100%;
            height: 120%;
            background-color: rgba(235, 235, 235, 0.56);
            background-color: rgb(255, 255, 255);
            position: absolute;
            left: 0;}}

    &-skewed{
        width: 84%;
        height: 100%;
        transform-origin: 0px ;
        transform: translate3d(0,40px,0) skewY(-0deg);
        border-right: 0;
        border-left: 0;
    // filter:contrast(0.5) ; 
            overflow: hidden;
    }
}
.SL_SK{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    &_Move-1{
        
        & > div{
            // display:inline-flexbox;
            transform: translateY(-50%);
            white-space: nowrap;

        }
        &Flex-1{
            
            position: absolute;
            animation:moveLogo-left 33s infinite linear;
            // transform:translate(100%) 
        }
        &Flex-2{
            position: absolute;
            animation:moveLogo-left2 33s infinite linear;
        }
    }

}




.SL_IMGcontainer{
    // flex:0;

    display: inline-block;
    position: relative;
    margin: 0 22px;
    opacity: .8;
    filter:  grayscale(.4); 

    transition: opacity .4s linear;
    &:hover{
        cursor: pointer;
        opacity: 1;
        filter:  grayscale(0); 
        transition: all .4s linear;
    }
    &::after{
        position: absolute;
        content: attr(info);
        white-space: nowrap;
        color: rgb(235, 235, 235);
        font-size: 1.3rem;
        bottom: 110%;
        border-radius: 9px;
        border-bottom-left-radius: 0;
        background-color: rgba(0, 0, 0, 0.671);
        padding: 1px 33%;
        opacity: 0;
        transition: opacity .14s linear;
        box-shadow: 13px 0px 12px -8px rgba(0, 0, 0, 0.555);
        animation: fadeOut 1s linear;
    }
    &:hover::after{
        transition: opacity .4s linear;
        animation: showABit 4s linear;
        
        // opacity: 1;
    }
    &_img{
        // opacity: .5;
// 

        transform:  rotate(-1deg); // just for perfection
        @include logeSize();
        box-shadow: 13px 0px 12px -8px rgba(0, 0, 0, 0.555);
    }

}


@keyframes showABit {
    0%{
        opacity: 0.1;
    }
    10%{
        opacity: 1;
    }    
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 0.2;
    }

    100%{
        opacity: 0;
    }
}