@import '../../abstracts/mixins';

$cardhight:240px;
// $shadowcolor:rgba(32, 32, 32, 0.568);
.CardEdu{
    margin: 2rem;
    border: .1px solid rgb(139, 139, 139);
    padding: 33px;
    border-top-width: 1px;
    min-height: $cardhight;
    min-width: 300px;
    max-width: 380px;
    color: rgb(41, 41, 41);
    background-color: white;
    @include shadowbend-bottom(rgba(26, 26, 26, 0.37));

    & > *:nth-child(2) > *:nth-child(2)::after, &:hover> *:nth-child(2)> *:nth-child(2)::after{
        // & >  ::after, &:hover ::after{
        transition: all .3s  ;
        content: attr(extrainfo);//'19 - Present';/
        border-radius: 0;
        font-family: 'Lato', sans-serif;
        position: absolute;
        color: #005f96   ;
        border: 1px solid white;
        background-color: rgba(255, 255, 255, 0.493);
        padding-left: 1rem;
        font-size: 1.3rem;
        white-space: nowrap;
        top: -70%;
        opacity: 0.3;
        right: 0;
        font-weight: 600;

    }
    &:hover> *:nth-child(2) > *:nth-child(2)::after{
        opacity: .9;
    }

    transition: transform .3s  , box-shadow .3s;

   
    &:hover{
        transform: translate3d(0,0,-5px);
        // box-shadow: 0 20px 22px -3px rgba(26, 26, 26, 0.644);
        box-shadow: none ;
        transition: transform .4s  , box-shadow .4s;
        &::after, &::before{
        box-shadow: none ;
        transition: transform .4s  , box-shadow .4s;

            transform: translate3d(0,0,-55px);// scale(.);
        }

    }

   &_header{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(109, 109, 109, 0.877);
    // @include extraInfo();

    &_icon{
        flex: 77px;
        max-width: 49px;
        min-width: 49px;
        height: 49px;
        
        // margin: 0 1.4rem;
        fill: rgb(128, 128, 128);
    }

    &_main_title{
        font-family: 'Lato', sans-serif;
        letter-spacing: .1ch;
        text-transform: capitalize;
        font-weight: 400;
        position: relative;
        // color: white;
        cursor: alias;


    }

   }
   &_second_title{
       margin-top: .2rem;
       white-space: nowrap;
       font-size: 2rem;
        font-family: 'Lato', sans-serif;
        text-transform: capitalize;
        letter-spacing: .6ch;
        text-align: center;
        font-weight: 500;
    }
    &_paragraph{
        font-family: 'Noto Sans JP', sans-serif;

        line-height: 1.6ch;
        font-weight: 300;
        letter-spacing: .1ch;
        text-align: center;


    }
}