.EduStrip{
    // background-color: rgb(138, 138, 138);
    // height: 900px ;
    padding: 3rem 0;
    position: relative;
    // border: 3px dashed black;
    background: rgb(228, 228, 228);
    &_Title{
        position:absolute;
        &-h2{
            font-family: 'Lato', sans-serif;
            // background-color: #005db4;
            margin:.5ch 2ch;
            z-index: 3;
            position:absolute;
            mix-blend-mode:difference;
            font-size: 1vmax;
            white-space: nowrap;
           
            background: inherit;
            -webkit-background-clip: text;
                    background-clip: text;
            color: rgb(59, 59, 59);
            font: 900 4vmax  'Lato', sans-serif;
            text-align: center;
            filter: invert(1) grayscale(1) contrast(33);

            // text-shadow: 4px 4px 11px rgb(87, 87, 87);//,
                        //  0px 0px 10px    white;
        }
    }
    // overflow: hidden;

    &_bg{
        // border: 3px dashed black;
        width: 100%;
        position: absolute;
        height: 700px ;
        overflow: hidden;


        &-deep{
            height: 100%;
            width: 100%;
            position: absolute;
            &-blue{
                position: absolute;
                right: 0;
                // border: 3px dashed black;
                // margin: 0 0 0 70%;
                height: 100%;
                width: 77vw;
                background-color: #376fa3;
                clip-path: polygon(21% 0, 100% 6%, 100% 100%, 0 100% , 0% 40%);
            }
        }
        &-shadow{
            // z-index: 7;
            position: absolute;
            height: 100%;
            width: 100vw;
            background-color: #2e2e2ea4;
            transform-origin: right top;
            right: 17.5vw;
            top: 16%;
            transform: skew(13deg,358deg) ;
            box-shadow:  44px -11px 44px 22px #1d1d1d55;
        }
        &-top{
            // overflow: hidden;
            position: absolute;
            top: 13% ;
            // border: 3px dashed black;
            // margin: 0 0 0 70%;
            height: 100%;
            width: 100vw;
            background-color: #56a2e9;
            -webkit-box-shadow: 3px 3px 5px 6px rgb(49, 49, 49); 
            -moz-box-shadow:    3px 3px 5px 6px rgb(66, 66, 66); 
            box-shadow:         3px 3px 5px 6px rgb(77, 77, 77);   
            clip-path: polygon(82% 3%, 100% 64%, 100% 100%, 0 100%, 0 0);
        }
    }
}