@import '../../abstracts/mixins';

.EduStrip_info{
    // height: 99vh;
    position: relative;
    // border: 3px dashed yellow;
    font-size: 1.4rem;
    color:white;
    
    // margin-top: 77px;
    padding-top: 13%;




    &_grid{
        display: flex;
        flex-direction: column;
        grid-template-columns:.3fr repeat(3, 1fr) .6fr;
        grid-template-rows:repeat(2, 1fr)  49px;


        &_mainFlex{
            flex:1 1;
            min-height: 500px;
            grid-row: 1/3;
            grid-column: 1/-1;
            height: 51px;
            column-gap: 7rem;
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(auto-fit , minmax( 300px, 1fr));
            padding: 3% 6% 2% 17%;
            margin-top: 3%;
            perspective: 400px;
            transform-style: preserve-3d;    
            @include respond(big-desktop) { // width < 1200?
                margin-top: 7%;
            @include respond(tab-land) { // width < 1200?
                margin-top: 12%;
                @include respond(tab-port) { // width < 900px
                    margin-top: 12%;
                    @include respond(phone) { // width < 600px
                        margin-top: 22%;
            }}}}

            


        }
        &_End-Decoration{
            flex:1 1;
            min-height: 39px;
            position: relative;
            grid-column: 1/-1;
            grid-row: 3/4;
            background-color: #56a2e9;
            transform-origin: left;
        }
    }
}