@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.Mi_container{





    position: relative;}
.londonfull{
    // background-image:linear-gradient(115deg, rgb(135, 205, 251) , rgb(0, 130, 190));
    // background:linear-gradient( 355deg , #ffffff, #0088be),
    //     radial-gradient(circle at 11% 11% , 
    //     white 3%,
    //      yellow 7% , 
    //      transparent 9%, white 11%,
    //      transparent 15%)
    //     ;
    background:
    // radial-gradient(circle at center center , 
    // rgba(255, 255, 255, 0) 80%, rgba(194, 197, 0, 0.267)
    // ),
    //  linear-gradient(to top, 
    //  #ffffff00 60%,
    //  #0000002c),
    linear-gradient(
        178deg
        , #51c8ff ,#e4f4ff )
        // , #5ac7fa 33%,#49cafd 43%, #ccebff 66%,#e4f4ff 96%)
        ;
    height: inherit;
    display: grid;
    align-content:end;
    &__imgcontainer{        
        height:70vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        @include respond(h600){height: 100vh;}
    }}

.londonfull__svg {
    // transition: transform .05s linear;
    width: 100%;
    bottom: 0;
    // max-height: 70vh;
// z-index: ;
    position: absolute;
    object-fit: cover;
    // object-position: center;
    @include respond(tab-port){
        width: 120%;
        left: -10%;
        @include respond(phone){
            width: 160%;
            left: -30%;
            @include respond(v500){
                width: 180%;
                left: -40%;
            }
        }
    }

}
#group{
    transform: translate3d(-292px,233px,0) ;
    fill:rgb(255, 255, 255);
    transform-box: fill-box;}
#londonWheel{
    transform-style: preserve-3d;
    fill:rgb(255, 255, 255);
    transform-origin:center;
    transform-box: fill-box;
    left: 0;
    animation: spin 50s infinite linear;}
@keyframes spin{
    from{
        transform:translate3d(-292px,233px,0) scale(.7) rotateY(-35deg) rotateZ(0); }
    to{
        transform:translate3d(-292px,233px,0) scale(.7) rotateY(-35deg) rotateZ(1turn);}}