@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.heroSection{





    position: relative;}
.londonfull{

    // background:
    // linear-gradient( 178deg , #51c8ff ,#e4f4ff );
    height: inherit;
    display: grid;
    align-content:end;
    &__imgcontainer{        
        height:70vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        @include respond(h600){height: 100vh;}
    }}


.ParallexContainer{
    width: 100%;
    height: inherit;
    bottom: 0px;
    position: absolute;
.londonfull__svg {
    position: absolute;
    width: 100%;
    bottom: 0;
    object-fit: cover;
    @include respond(tab-port){
        width: 120%;
        left: -10%;
        @include respond(phone){
            width: 160%;
            left: -30%;
            @include respond(v500){
                width: 180%;
                left: -40%;
            }
        }
    }
}
}

#group{
    transform: translate3d(-242px,173px,0) ;
    fill:rgb(255, 255, 255);
    transform-box: fill-box;}
#londonWheel{
    transform-style: preserve-3d;
    fill:rgb(232, 231, 231);
    transform-origin:center;
    transform-box: fill-box;
    
    left: 0;
    animation: spin 50s infinite linear;}
@keyframes spin{
    from{
        transform:translate3d(-242px,173px,0) rotateY(-55deg) rotateZ(0); }
    to{
        transform:translate3d(-242px,173px,0)  rotateY(-55deg) rotateZ(1turn);}}