
@import '../../abstracts/mixins';

.heroSection{
    height: 80vh;
    @include respond(h800)
    {
        height: 85vh;
        @include respond(v800){
            height: 80vh;
            @include respond(phone){height: 70vh;}
        }
        @include respond(h700)
        {
            height: 85vh;
            @include respond(h600)
            {
                height: 85vh; }}}
    @include respond(v800){
        @include respond(phone){height: 85vh;}
    }
    @include respond(phone){
        @include respond(h700)
        {height: 85vh;}
    }
	.londonfull{
		background: conic-gradient(at -1% 8%,rgb(255, 255, 255),rgba(225, 255, 0, 0.1)40%), linear-gradient(178deg, #0092d5 ,#65bffb );
}
}
.skyParallax{
	transition: transform 1s cubic-bezier(0, 0.67, 0.35, 0.99);
	position: absolute;
	width: 100%;
	height: 100%;

}
.moon {
	position: absolute;
	bottom: -1561px;
	left: calc(160vw - 40px) ;
	width: 80px;
	height: 80px;
	// opacity: .5;
	position: fixed;
	filter: blur(0px);
	border-radius: 50%;
	// background-color: #ffffff;
	box-shadow: 0 0 22px 3px rgba(255, 255, 255, 0.656);
	transform-origin:-110vw ; 
	transform: rotateZ(-80deg);
	background: radial-gradient(circle at 60% 30%, #ffffff 60%, #c9c9c9 60%);
	// background: radial-gradient(circle at 30% 90%, #dbe5e7, #dbe5e7 64%,#ffffff 64%);
	animation:  148s ease-in-out infinite moonrise ;
	@include respond(big-desktop)
    { 
		bottom: -75vw;

	@include respond(protab-land)
    {
		// bottom: -1000px;
		animation-duration: 130s ;
        @include respond(tab-port){
			bottom: -521px;
			animation-duration: 110s ;
			transform-origin:-110vw -5vh; 

            @include respond(phone){
				bottom: -221px;
				animation-duration: 90s ;

			}
        }
            @include respond(h600)
            {
				bottom: -521px;
			}}
	// animation:  15s cubic-bezier(.65,-0.01,.48,.98) infinite forwards moonrise ;
	}
}
	@keyframes moonrise {
		0% {
			transform: rotateZ(-30deg);
		}
		1% {
			transform: rotateZ(-75deg);
		}
		97% {
			transform: rotateZ(-108deg);
		}
		98% {
			transform: rotateZ(-150deg);
		}
		100% {
			transform: rotateZ(-390deg);
		}
	}


.sky_phase{
	transition: all 2s;
	background:
	// conic-gradient(at 8% 0%,rgb(17, 0, 64),rgba(73, 0, 86, 0.13)40%,rgba(73, 0, 86, 0.13)80%),
	radial-gradient(at -1% 95%,rgba(0, 120, 212, 0.79),rgba(0, 9, 28, 0.262)40%,rgba(0, 9, 28, 0)),
	radial-gradient(at 97% 95%,rgba(0, 95, 212, 0.271),rgba(0, 9, 28, 0.2)40%),
	radial-gradient(at center 95%,rgb(111, 0, 74),rgb(0, 29, 90)40% ,rgb(0, 15, 46)90% , rgba(0, 0, 0, 1)100%);
	opacity: 1;
}


.sky_dusk {
	transition: all 2s;
	opacity: 1;
	position: absolute;
	position: fixed;

	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	// animation:  26s ease-in-out 0s infinite sky__dusk ;
}
.sky_dusk_remove {
	transition: all 2s;
	opacity: 0;
	position: absolute;

	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	// animation:  26s ease-in-out 0s infinite sky__dusk ;
}

@keyframes sky__dusk {
	0% {
		opacity: 0;
	}
	68% {
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	98% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.sky {
    top:0;

    // border: 5px dashed red;
	width: 100%;
	min-height: 100%;
	position: absolute;
	// bottom:  -100%;
    top:0;
	left: 0;
	max-height: 600px;
	overflow: hidden;
}
