@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}










@mixin shadowbend-left {
    
position: relative;
transform-style: preserve-3d; 
z-index: 55;
// background-color: transparent;
&::after, &::before{
    box-shadow:  25px 0px 11px -4px rgba(65, 65, 65, 0.6);
    // transform-origin: bottom;

    position: absolute;
    height: 80%;
    width: 120%;
    right: 11%;
    background-color:inherit;
    transition: all .4s;
    border-radius: inherit;
}
&::after{
    // box-shadow:  21px 1px 9px -4px rgba(36, 36, 36, 0.6);
    transform-origin: top;
    // position: absolute;
    // // right: -3%;
    // right: 4%;
    // right: -0;

    top: 0;
    transform:skewX(-2deg) translateZ(-3px);
    content: '';
    // height: 80%;
    // width: 50%;
    // background-color: rgb(64, 51, 245);
    z-index: -5;
}
&::before{
    // box-shadow:  22px 0 9px -4px rgba(36, 36, 36, 0.66);
    transform-origin: bottom;
    // position: absolute;
    // // right: -3%;
    // right: 4%;
    bottom:  0;
    transform:skewX(2deg) translateZ(-3px);
    content: '';
    // height: 80%;
    // width: 30%;
    // background-color: rgb(61, 151, 121);
    // z-index: -5;
    
}
}

//shadow on the bottom edges of a container
@mixin shadowbend-bottom($shadowcolor: rgba(0, 0, 0, 1)){
    position: relative;
    z-index: 77;
    // transform: translate3d(0,0,4px);
        box-shadow: 0 10px 16px -1px rgba(26, 26, 26, 0.24);

    &:before, &:after
    {
        transition: transform .4s  , box-shadow .4s;

        content: '';
        background: transparent;
        position: absolute;
        width: 47.9%;
        height: 3%;
        bottom: 1px;
        z-index: -14 !important;
        box-shadow: 0 1.6rem 2rem $shadowcolor;

        
    }
    &::after{
        transform-origin: bottom left;
        transform: translate3d(0,0,-3px) skewY(-2deg)  ;
        left:  7px;
    }
    &::before{
        right:  7px;
        transform:translate3d(0,0,-3px) skewY(2deg) ;
        transform-origin: bottom right;
    }
}
@mixin shadowSmooth-bottom($shadowcolor :rgba(26, 26, 26, 0.644))
{
   
-webkit-box-shadow: 0 14px 6px -6px $shadowcolor;
-moz-box-shadow: 0 14px 6px -6px $shadowcolor;
     box-shadow: 0 14px 6px -6px $shadowcolor;
}

@mixin extraInfo(){
    &::after, &:hover::after{

        transition: all .3s  ;
        content: attr(extraInfo);//'19 - Present';/
        border-radius: 0;
        font-family: 'Lato', sans-serif;
        position: absolute;
        color: #005f9665   ;
        border: 1px solid white;
        padding-left: 1rem;
        font-size: 1.3rem;
        white-space: nowrap;
        top: -70%;
        right: 0;
        font-weight: 600;
        /*   // Another way with hover effect
        transition: all .3s  ;
        content:attr(extraInfo);//'19 - Present';/
        border-radius: 0;
        opacity: 0;
        font-family: 'Lato', sans-serif;
        position: absolute;
        color: #005f96  ;
        background-color: white;
        border: 1px solid white;
        padding: .1rem .4rem ;
        font-size: 1.5rem;
        white-space: nowrap;
        top: -110%;
        right: 0;
        font-weight: 600;
 
    // }
    // &:hover::after{
        opacity: 1;}
         */
    }
   
}
@mixin shadowbend-bottom2($shadowcolor :#777)
{
    
        position: relative;
      
      &:before, &:after
      {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width:300px;
        background: $shadowcolor;
        -webkit-box-shadow: 0 15px 10px $shadowcolor;
        -moz-box-shadow: 0 15px 10px $shadowcolor;
        box-shadow: 0 15px 10px $shadowcolor;
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-3deg);
      }
     &:after
    {
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        transform: rotate(3deg);
        right: 10px;
        left: auto;
    }
}

// Center using grid
@mixin centerusinggrid{
    display: grid;
    place-content: center;
}


// @include bg-nicecard(#ff8c09  ,#d1d361);
// @include bg-nicecard();
@mixin bg-nicecard($color : pink , $darken: purple){
    background: linear-gradient( 180deg,$color  -30%,transparent),
    radial-gradient(circle at 35px 10px,hsla(0,0%,100%,.4) 0,transparent 45%),
    radial-gradient(circle at 10px 10px,$color  0,transparent 60%),
    radial-gradient(circle at 140px 275px,$color  0,transparent 45%),
    $darken;
}

@mixin underline($color: white, $width:40%) {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
    &::before{
        margin-top: 2rem;
        content: '';
        width: $width;
        height: 1px;
        background-color: $color;

    }
    
}

@mixin border($color : coral){
    border: 4px solid $color;
}
