/*// COLORS  
// bg -> background */
$bg-body: rgb(255, 255, 255);
$bg-table: rgb(119, 119, 119);
$bg-slide: rgb(199, 199, 199);

//bt -> button
$bt-color-primary: rgba(0, 0, 0, 0);
$bt-color-secondery: white;


:root {
    --skl-bg-color: rgba(255, 88, 144, 0.877) ;
  }




$color-primary: #5c8fff;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: rgb(235, 235, 235);
$color-black: #000;

/*// Dimensions  
// s -> size */
$s-mainintro:80vh;
$s-view-port: 100vw 100vh;
$s-slideW: 92vw;
$s-slideH:92vh;



// FONT
$default-font-size: 1.6rem;

