@import '../../abstracts/mixins';
@import '../../base/animations';




.ftStrip{
      
    &_canvasCon{
        // position: relative;
        width:93vw;
        flex:10;

        display: flex;
        align-items: center;
        @include respond(tab-port){
            position:relative;
            display:block;
            margin: 0 auto; }}
    &_canvas{
        position: relative;
        height: 85%;
        padding: 9rem 10rem 9rem calc(10rem - 41px);
        flex:9;
        border-radius: 42px;
        transform-origin: right;
        transition: transform .8s, box-shadow .8s  ;
        // transform:rotateX(-5deg) rotateY(-15deg) rotateZ(-1deg) ; It makes the button click far
        display: flex;
        align-items: center;
        justify-self: center;
        box-shadow: -4px 5px 9px 9px rgba(0, 0, 0, 0.35);
        background-color: rgba(166, 211, 18, 0.849);
        background: #00F260;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

        // z-index: -1;
        &_Decor{
            &-1{
                height: 100%;
                flex: 1;
                background-color: rgb(253, 253, 253);
                // transform:rotateX(5deg) rotateY(11deg) rotateZ(-1deg);//   scale(.85);
                border: 10px solid rgba(4, 126, 163, 0.863);
                border-right-width: 15px ;
                border-radius: 44px;
                position: relative; }      
            &-2{
                position: absolute;
                height: 100%;
                width: 100%;
                transform:rotate(0);// THIS IS TO ADD CONTEXT SO IT IS ON THE TOP 
                border: 2px solid rgb(189, 195, 197);
                border-left-width:6px ;
                border-bottom-color: rgb(153, 155, 156);
                border-right:none;
                border-top:none;
                overflow: hidden;
                border-radius: 31px; }}
        @include respond(tab-port)
        {
        padding: 0;

            position:absolute;
            height: 500px;
            width:  100%;
            display: flex;
            justify-items:center;
            flex-direction: column;
            transform:rotateX(-0deg) rotateY(-0deg) rotateZ(-0deg) translate3d(0,-500px,0);
            &_Decor{
                &-1{
                    // height: 550px;
                    margin-bottom: 3rem;
                border: 3px solid rgba(4, 126, 163, 0.863);

                    transform:rotateX(0);// rotateY(15deg) rotateZ(-1deg)  scale(.85);

                    flex: 6;
                    height: 33%;
                    // margin-top: -3rem;
                    width: 80vw;
                    overflow: hidden;
                }      
                &-2{
                    // width: 88vw;

                }
    
    
            }
            @include respond(v400)
            {
            width:  100vw;
            margin-left: -1.3rem;//;: -3rem;
            &_Decor{
                &-1{
                    // height: 550px;
                    margin-bottom: 3rem;
                border: 3px solid rgba(4, 126, 163, 0.863);

                    transform:rotateX(0);// rotateY(15deg) rotateZ(-1deg)  scale(.85);

                    flex: 6;
                    height: 33%;
                    // margin-top: -3rem;
                    width: 94vw;
                    overflow: hidden;
                }      
                // &-2{
                    // width: 88vw;

                }

            }
    
        }

    }

    // this class will get applied once the canvas is out
    .moveOutScreen{
        transform: translate3d(90%,0,0);
        box-shadow: -22px 11px 34px 5px rgba(0, 0, 0, 0.5);
        transition: transform .8s, box-shadow .8s  ;
        .ftStrip_canvas_btnCon{
            .ftStrip_canvas_btnCon_btn{
                transition: all .8s;
                border: none;
                box-shadow: none;
                & .ftP-svg{
                    
                    fill: rgb(56, 56, 56);
                }
                &-info .ftP-svg{
                    fill: rgb(230, 230, 230);
                    @include respond(tab-port){
                       
                            transform: rotate(0deg);
                            transition: all .9s ;
                        
                    }
                }
                & .see_the_graph_SVG{
                    
                    animation: improvedFlashing 2s infinite;
                    // animation: flashing  3s   infinite linear  ;


                }
                // &::after{
                //     animation: none;
                // }
                
            }
        }
        @include respond(tab-port)
        {
            transform: translate3d(0,-42px,0);

        }
    }
    
}

