
@import '../../abstracts/mixins';
@import '../../base/animations';

.ftStrip{
    background-color: white;
    z-index: 999;
    transform: translate(0);
    overflow: hidden;
    height:850px;
    display: flex;
    perspective: 1500px;
    position: relative;
    &_titleCon{
        flex:2;
        // border: 3px dashed darkgreen;
        // padding-left: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &-flip{
            writing-mode: vertical-rl;
            text-orientation: mixed;
            text-align: center;
            transform: rotateZ(.5turn);
            margin: -55px 0 0 0;
            & > div{
                text-transform: uppercase;
            }
        
        }

        &-Feature{
            &::first-letter{
                font-size:3.3rem;
            }
            font-size:3rem;
            letter-spacing: .3ch;
        }
        &-Project{
            position: relative;
 
            & > div{
                display: inline;
                font-size:7rem;
                position: relative;

            }
            letter-spacing: .3ch;

            font-size: 4.9rem;
            font-weight: bold;
            transform: translate(4rem,0ch);

        }
            
        }   
    }
.title{

            //font-family: $roboto-black;
            font-size: 40px;
            background: linear-gradient(
              149.47deg,
              rgb(111, 159, 255) 6.08%,
              rgb(86, 145, 255) 11.08%,
              rgb(88, 86, 249) 50.65%,
              rgb(128, 43, 255) 75.66%
            );
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 22px;
            margin-top: 36px;
            
}
@include respond(tab-port)
{
    .ftStrip{
        overflow: hidden;
        height:auto;
        display: block;
        perspective: 1500px;
        position: relative;
        &_titleCon{
            flex:2;
            // border: 3px dashed darkgreen;
            padding-left: 0;
            display: block;
            align-items: center;
            justify-content: center;
            &-flip{
                display: flex;
                flex-direction: column;

                writing-mode:unset;
                text-orientation:initial;
                text-align: center;
                transform: rotateZ(0);
                margin-top: 0;
            }
            &-Feature{
                &::first-letter{
                    font-size:3.3rem;
                }
                font-size:2rem;
                letter-spacing: 0ch;
                color:rgb(174, 174, 174)
            }
            &-Project{
                margin-top: -7rem;
                margin-right: 4rem;
                position: relative;
                & > div{
                    display: inline;
                    font-size:7rem;
                    position: relative;
                    margin-right: 0rem;
                }
                letter-spacing: .1ch;
                font-size: 3rem;
                font-weight: bold;
                transform: translate(0,0ch);
            }
                
            }   
        }

}
