
@import '../../abstracts/mixins';
@import '../../base/animations';

.ftStrip_canvas_infoMain{
    
    position:absolute;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(tab-port)
    {
        position:relative;
        display:block;
        margin-bottom: 66px;
    }


}
.ftStrip_canvas_infoCon{

    position:absolute;
    transform: translate(-27%);
    padding:0 7% 0 0%;
    border: 4px solid rgba(169, 169, 169, 0.212);
    border-left: 0;
    border-right: 0;
    &  *{
        position:absolute;
        margin: 0 8ch;
        
    }
    height: 70%;
    width:60%;
    // padding: 0 10%;
    @include respond(tab-port)
    {
        padding:0  ;
        transform: translate(0);

        height: 100%;
        width:100%;
        position:relative;
        &  *{
            position:relative;
            margin:2rem 8rem;
            @include respond(phone)
            {
                margin:2rem;

            }
        }

    }
    &_Title{
        margin-top: 4ch ;
        font-weight: 200;
        letter-spacing: .2ch;
        color: rgb(105, 105, 105);
        position: relative;
       font-family:  sans-serif;
       font-size: 1.5rem;
       line-height: 4ch;
        &::first-line{
            // font-weight: bold;
            text-transform: uppercase;

            font-size: 1.8rem;
        }
        @include respond(tab-port)
        {
            border-bottom: 2px dashed rgb(233, 233, 233);

            font-size: 1.5rem;
            margin-top: 2ch ; 
                @include respond(v400)
                {
                    font-size: 1.3rem;

                    &::first-line{
                        // font-weight: bold;
                        text-transform: uppercase;
            
                        font-size: unset;
                    }
                }
            
    
        }

    }
    &_Body{
       font-family:  sans-serif;
       font-size: 1.5rem;
       letter-spacing: .1ch;
       a{
            display:inline;
            position: relative;
            margin: 0;
            white-space: nowrap;
            // outline: 1px dotted blueviolet;

       }
        font-weight: 400;
        @include respond(tab-port)
        {
            margin-bottom: 5rem;
   
            font-size: 1.3rem;
            @include respond(v400)
            {
                margin-bottom: 2rem;
            }
        }
    
    }

}
