
@import '../../abstracts/mixins';
@import '../../base/animations';

.ftStrip{
    overflow: hidden;
    height:800px;
    display: flex;
    perspective: 1500px;
    position: relative;
    &_titleCon{
        flex:2;
        // border: 3px dashed darkgreen;
        padding-left: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &-flip{
            writing-mode: vertical-rl;
            text-orientation: mixed;
            text-align: center;
            transform: rotateZ(.5turn);
            margin-top: -55px;
        
        }
        & > div{
            display: inline-block;
            text-transform: uppercase;
        }
        &-Feature{
            &::first-letter{
                font-size:3.3rem;
            }
            font-size:3rem;
            letter-spacing: .3ch;
        }
        &-Project{
            position: relative;
 
            & > div{
                display: inline;
                font-size:7rem;
                position: relative;

            }
            letter-spacing: .3ch;

            font-size: 4.9rem;
            font-weight: bold;
            transform: translate(4rem,0ch);

        }
            
        }   
    }