
@import '../../abstracts/mixins';
@import '../../base/animations';

.ftStrip{
    &_canvas{

        &_btnCon
        {
            position: relative;
            transform: translate3d(-59px,0,0);
            z-index: 9999;
            @include respond(tab-port)
            {
                position: relative;
                display: flex;
                gap: 22px;
                transform: translate3d(0,-50%,0);
            }
            &_btn{
                display: grid;
                justify-items: center;
                align-items: center;
                color:rgb(43, 138, 216);
                font-size: 2rem;
                height: 41px;
                width: 41px;
                border-radius: 15%;
                margin-top: 55%;
                transform: translateX(-50%);
                border-right: 2px solid rgba(219, 219, 219, 0.719);
                background-color: rgb(121, 121, 121) ;
                box-shadow: 3px 0 5px rgba(12, 12, 12, 0.404);
                z-index: 7;
                transition: transform .2s ,box-shadow .4s , border 1s ;
                background:             
                linear-gradient(to left, 
                rgb(119, 119, 119) ,
                rgb(94, 94, 94));
                .ftP-svg{
                    fill: rgb(224, 224, 224);
                    height: 19px;
                    width:  19px;
                }

                @include respond(tab-port){
                    &-info .ftP-svg{
                        transform: rotate(90deg);
                        transition: all .9s ; }}
                .see_the_graph_SVG{
                   
                    fill:#1466ff;
                    pointer-events:none;
                    width:57px;
                     height:227px;
                    position: absolute;
                    transform-origin: top;
                    transform: translate3d(-90%,5%,0) scale(1.2);
                    top: 0;
                    opacity: 0;
                    animation: none;
                     @include respond(tab-port){
                        // fill: red;
                        height:43vw;
                        width:auto;
                        transform: rotate(90deg) translate3d(-66%,-5%,0) ; }}
                &:first-child{
                    margin-top: 100%;
                }
                @include respond(tab-port){
                    margin:0 ;
                    &:first-child{
                        margin-top: 0%;}}
                &:hover{
                    transform: translateX(-55%);
                    box-shadow: 6px 0 9px rgba(12, 12, 12, 0.294);
                    transition: transform .2s ,box-shadow .2s ;}
                &:focus-within,&:active{
                    transform: translateX(-46%);
                    box-shadow: 1px 0 4px rgb(12, 12, 12);
                    transition: transform .2s ,box-shadow .2s , border 1s ;}}
        }
    }
}






