
@import '../../abstracts/mixins';
@import '../../base/animations';

.ftStrip_canvas_infoMain{
    
    position:absolute;
    height: 100%;
    width:100%;
    // border: 5px dashed yellowgreen;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;




}
.ftStrip_canvas_infoCon{

    position:absolute;
    transform: translate(-27%);
    padding:0 7% 0 0%;
    border: 4px solid rgba(169, 169, 169, 0.212);
    border-left: 0;
    border-right: 0;
    // border-left: 1px dashed rgba(117, 117, 117, 0.486);
    // border-right: 1px dashed rgba(117, 117, 117, 0.486);
    
    &  *{
        position:absolute;
        margin: 0 8ch;
    }
    height: 70%;
    width:60%;
    // padding: 0 10%;

   
    &_Title{

        margin-top: 4ch ;
        font-weight: 200;
        letter-spacing: .2ch;
        color: rgb(105, 105, 105);
        position: relative;
       font-family:  sans-serif;
       font-size: 1.5rem;
       line-height: 4ch;

        &::first-line{
            // font-weight: bold;
            text-transform: uppercase;

            font-size: 1.8rem;
        }
    }
    &_Body{
       font-family:  sans-serif;
       font-size: 1.5rem;

       letter-spacing: .1ch;
        // margin-top: .2ch;
        font-weight: 400;

    
    }
}

