
@import '../../abstracts/mixins';
@import '../../base/animations';


.ftStrip_canvas_btnCon_btn-matEditor{
     &:focus  .ftStrip_canvas_btnCon_btn-matEditor_EditorCon,
     &:hover  .ftStrip_canvas_btnCon_btn-matEditor_EditorCon,
        &:focus-within  .ftStrip_canvas_btnCon_btn-matEditor_EditorCon{
        transform: scale(1);
        transition: transform .15s linear , background-color .3s linear;
        background-color: rgb(0, 174, 255);}
        position: relative;
        &_checkbox{ // ADDITION ONLY TO ADD MAKE IT OPEN/CLOSE
            position:absolute;
            height: 100%;
            width: 100%;
            bottom: 0;
            opacity: 0;}
    .ftStrip_canvas_btnCon_btn-matEditor_EditorCon{
        &_checkbox{
            position:absolute;
            height: 100%;
            width: 100%;
            bottom: 0;
            opacity: 0;
        }
        background-color: rgba(90, 90, 90, 0.882) ;
        transform-origin: top;
        transform: scale(0);// KEEP IT CLOSE
        transition: transform .1s linear, background-color .2s linear;
        &::before{
        content: "Multiplied Matrix";
        text-transform: uppercase;
        position:absolute;
        color: white;
        font: 1.35rem sans-serif;
        top:34px
        }
        height: 320px;
        width: 270px;
        position:absolute;
        top:120%;
        padding: 194% 11% 0;
        clip-path: polygon(52% 0, 60% 8%, 100% 8%, 100% 100%, 0 100%, 0 8%, 43% 8%);
        // backdrop-filter: blur(5px);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items:center;

    }
}
