@import '../../abstracts/mixins';
@import '../../base/animations';

.ftStrip{
      
    &_canvasCon{
        flex:7;
        // border: 3px dashed red;
        display: flex;
        align-items: center;

    }
    .moveOutScreen{
        transform: translate(90%);
        transition: transform .8s ;
        .ftStrip_canvas_btnCon{
            .ftStrip_canvas_btnCon_btn{
                transition: all .8s;
                border: none;
                box-shadow: none;
                color: rgb(77, 77, 77);
                &-info{
                    color:white;
                }
                &::after{
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.411);
                    padding: 19% 2ch;
                    margin: 3ch;
                    white-space:nowrap;
                    font: 70% Lato;
                    color: white;
                    right: 100%;
                    // content: 'Close >>';
                    display: none;
                    transition: transform .8s ;
                    animation: none;

                }
                
            }
        }
    }
    &_canvas{
        position: relative;
        // margin-top: 50%;
        height: 80%;
        flex:9;
        border-radius: 42px;
        // border-top-right-radius: 0;
        // border-bottom-right-radius: 0;
        transform-origin: left;

        background: linear-gradient(
            to right,
            rgba(4, 126, 163, 0.863),
            // rgba(0, 137, 172, 0.527),
            rgba(40, 173, 250, 0.849),
            rgba(39, 157, 224, 0.9)
            // rgba(1, 196, 255, 0.863)
        );

        transition: transform .8s ;
        transform:rotateX(-5deg) rotateY(-11deg) rotateZ(-1deg) translateX(5%)  scale(.9);
        display: flex;
        align-items: center;
        box-shadow: -66px 0 44px 22px rgba(0, 0, 0, 0.35);
        @include respond(tab-land) { // width < 1200?
            background: rgb(166, 211, 18);
        }
        background: rgba(166, 211, 18, 0.849);


        &_Decor{
            &-1{

                height: 84%;
                flex: 6;
                background-color: rgb(253, 253, 253);
                transform:rotateX(5deg) rotateY(15deg) rotateZ(-1deg)  scale(.85);
                border: 10px solid rgba(4, 126, 163, 0.863);
                // border-left-width: px ;
                border-right-width: 15px ;
                border-radius: 44px;
                position: relative;
            }      
            &-2{
                position: absolute;
                height: 100%;
                width: 100%;
                // transform:rotateX(5deg) rotateY(22deg) rotateZ(-5deg)  scale(1);
                border: 2px solid rgb(189, 195, 197);
                border-left-width:6px ;

                border-bottom-color:  rgb(153, 155, 156);
                border-right:none;
                border-top:none;
                overflow: hidden;
                border-radius: 31px;
            }


        }

    }
    
}

