
@import '../../abstracts/mixins';
@import '../../base/animations';

.ftStrip_canvas_infoMain{
    
    position:absolute;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(tab-port)
    {
        position:relative;
        display:block;
        margin-bottom: 66px;
    }


}
.ftStrip_canvas_infoCon{

    position:absolute;
    transform: translate(-27%);
    padding:0 2vw 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // gap: 2rem;
    height: 70%;
    width:60%;
    border: 4px solid rgba(169, 169, 169, 0.212);
    border-left: 0;
    border-right: 0;
    &  *{
        text-align: justify;
        margin: 0 11ch; }
    @include respond(tab-land) {
        gap: 0;
        padding:0 .8vw 0 .8vw;

        &  *{
            margin: 0 3ch; }
    @include respond(tab-port) {
        padding:0  ;
        transform: translate(0);
        height: 100%;
        width:100%;
        position:relative;
        
        &  *{
            position:relative;
            margin:2rem 5vw;
            @include respond(v400){
                text-align: center;
            @include respond(phone) {
                margin:2rem;}}}}}

    &_Title{
        font-weight: 300;
        letter-spacing: 0ch;
        color: rgb(105, 105, 105);
        background: linear-gradient(
            149.47deg,
            rgb(111, 159, 255) 6.08%,
            rgb(86, 145, 255) 11.08%,
            rgb(88, 86, 249) 50.65%,
            rgb(128, 43, 255) 75.66%
          );
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;

        position: relative;
       font-family:  sans-serif;
       font-size: 1.5rem;
       line-height: 3ch;
        &::first-line{
            text-transform: uppercase;
            font-size: 1.8rem;
            @include respond(tab-port){
                // font-size: 1.rem;
            }
        }
        @include respond(tab-port){
            border-bottom: 2px dashed rgb(233, 233, 233);
            font-size: 1.5rem;
            margin-top: 2ch ; 
                @include respond(v400){
                    font-size: 1.3rem;
                    &::first-line{
                        text-transform: uppercase;
                        font-size: unset;}}}}
    &_Body{
       font-family:  sans-serif;
       font-size: 1.5rem;
       line-height: 1.5;
              a{
            display:inline;
            position: relative;
            margin: 0;
            white-space: nowrap;}
        font-weight: 400;
        @include respond(tab-land) {
            // padding:0 3% 0 0%;
    
        @include respond(tab-port)
        {
            margin-bottom: 5rem;
   
            font-size: 1.3rem;
            @include respond(v400)
            {
                margin-bottom: 2rem;}}}
         
    
    }

}
