*{
    margin: 0;
        /* border: 5px solid black; */

}
h1{
    text-align: center;
    width: 100%;
 
}
.myAvatarcontainer{
    height: 50vh;
    width: 100%;
    background: rgb(240,240,240);

    /* justify-content:flex-end;
    align-items: flex-end;
    display: flex; */
    /* flex-direction: row-reverse; */
    /* opacity: .2; */
    /* justify-content:flex-end; */
    

}
.myAyatarcon-floor{
    
    position:absolute;
    height: 50%;
    width: 100%;
    
    background: rgb(185,185,185);
background: linear-gradient(188deg, rgba(185,185,185,0.7298154477719907) 14%, rgba(240,240,240,0.5106796453028549) 80%);
    clip-path: polygon(0 76%, 100% 44%, 100% 100%, 0% 100%);
}
.mecontainer-flexelement{
    border: 5px solid rgb(226, 92, 92);
    height:30%;
    width: 30vw; 
     position: relative; 

}
.myimage{
    height: 300px;
    /* width: 30vw;   */
    /* width: fit-content */
    display: inline-block;
    /* max-width: 300px; */
    /* position:absolute; */
    animation: breathing 5s infinite;
    transform-origin:  bottom;
    position: absolute;
    bottom: 10px;


}
.myimage:nth-child(n+2){
position: absolute;



}
.eyes{
    left: 0;
    animation: eyemove 10s infinite;
}
.eyelash{
    /* border: 3 solid ; */
    animation: eyelashanimation 5s infinite;

}
.mybody{
    
    /* size: 100%; */
}
@keyframes breathing{

    0%{
                    transform: scale(1.0);
            -webkit-transform: scale(1.0);
    }
    30%{
                    transform: scale(1.005);
            -webkit-transform: scale(1.005);
    }
    90%{
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100%{
                    transform: scale(1.0);
            -webkit-transform: scale(1.0);
    }
    

}

@keyframes eyelashanimation{

    0%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    91%{
        opacity: 1;
    }
    94%{
        opacity: 1;
    }
    95%{
        opacity: 0;
    }
    96%{
        opacity: 0;
    }
    97%{
        opacity: 1;
    }
    98%{
        opacity: 1;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }

}

@keyframes eyemove{

    0%{
        top: -1px;
        left: 0;
    }
    20%{
        top: -1x;
        left: 1px;    }
    40%{
        left: 0;    }
    60%{
        top: -1px;
        left: -1px;    }
    80%{
        top: 0px;
        left: 0;    }
    
    100%{
        /* top: 3px; */
    }

}