@import '../../abstracts/mixins';

.citySpark_stripe{
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  .citySpark_stripe_h2{
 
     text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);

    margin-top: 2rem;
    text-align: center;
            background: linear-gradient(
              149.47deg,
              rgb(111, 159, 255) 6.08%,
              rgb(86, 145, 255) 11.08%,
              rgb(88, 86, 249) 50.65%,
              rgb(128, 43, 255) 75.66%
            );
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
 
            margin-top: 36px;
            font-size: 4.9rem;


  }
  &_h3{
    font-size: 2rem;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);

    margin-bottom: 4rem;
    text-align: center;
          background: linear-gradient(
            149.47deg,
            rgb(76, 76, 76) 5.08%,
            #4bbfb0 50.65%,
            rgb(189, 189, 189) 75.66%
          );
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
    filter: grayscale(.4);
  }
}

.citySpark_container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond(tab-land) {
      flex-direction: column;
    }
  }
  
  .citySpark_title-container {
    padding: 5px;
    display: grid;
    justify-self:center;
    flex: 1;
    @include respond(tab-land) {
      text-align: center;
    }
  }
  
  .citySpark_image-container {
    
    flex: 1;
  
    // display: flex; // Flex is here to ensure any further inner adjustments can be made easily
    // justify-content: center;
    img{
      height: 60vw;
      width: auto;
      max-height: 700px;
      // left: -20%;
    }
    @include respond(tab-land) {
      order: -1;
    }
  }
  .citySpark_para{
    position: relative;
    padding: 3rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -1.4rem 2rem 3rem 5rem;
    text-align: center;
    letter-spacing: 0ch;
    font-weight: 300;
    max-width: 900px;
    font-size: 1.3rem;
    color: rgb(86, 86, 86);

    &::before{
      content: "";
      margin:  auto 0;
      position: absolute;
      top: 0;
      width: 80%;
      background-color: rgb(223, 223, 223);
      height: 2px;
    }
    &::after{
      margin-top: 1rem;
      content: "";
      margin:  auto 0;
      position: absolute;
      bottom: 0;
      width: 80%;
      background-color: rgb(163, 163, 163);
      height: 2px;
    }
  }