
.arrowCon{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 99;
    transform: translate3d(0,-32px,0);
    cursor: pointer;
    // animation: arrowEffect 4s 1s infinite  linear;

}


.arrowCon3{transform: translate3d(0,-48px,0);
    animation: arrowEffect 4s 1s infinite  linear;
}
.arrow_blade{
    padding: 0;
    transform: translate3d(0,0,33px);
    height: calc(.1vh + 2px);
    width: calc(.5vw + 15px);
    // height: 2px;
    // width:  16px;
    border-radius: 3px;
    margin:0 -1.5px ; 
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);

}

@keyframes arrowAfterEffect {
    from{
        transform:  translate3d(0,-95%,0);
    }
    to{
        transform: translate3d(0,-1%,0);
    }
}
@keyframes arrowEffect{
    0%{
        opacity: 1;
        transform: translate3d(0,-48px,0);
    }
    20%{
        opacity: 1;
        transform: translate3d(0,-48px,0);
    }
    45%{
        opacity: 0;
        transform: translate3d(0,-32px,0) scale(.90);
    }
    50%{
        opacity: 0;
        transform: translate3d(0,-48px,0);

    }
    80%{
        opacity: 1;
        transform: translate3d(0,-48px,0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0,-48px,0);
    }

}
