@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.Mi_container{
    height: 80vh;
    position: relative;}
.londonfull{
    background-image:linear-gradient(115deg, rgb(135, 205, 251) , rgb(0, 130, 190));
    height: inherit;
    display: grid;
    align-content:end;
    &__imgcontainer{
        height:70vh;
        width: 100%;
        position: relative;}}

.londonfull__svg {
    width: 100%;
    bottom: 0;
    position: absolute;}
#group{
    transform: translate3d(-292px,233px,0) ;
    fill:rgb(224, 224, 224);
    transform-box: fill-box;}
#londonWheel{
    transform-style: preserve-3d;
    fill:rgb(224, 224, 224);
    transform-origin:center;
    transform-box: fill-box;
    left: 0;
    animation: spin 50s infinite linear;}
@keyframes spin{
    from{
        transform:translate3d(-292px,233px,0) scale(.6) rotateY(-15deg) rotateZ(0); }
    to{
        transform:translate3d(-292px,233px,0) scale(.6) rotateY(-15deg) rotateZ(1turn);}}