@import '../../abstracts/variables';
@import '../../base/animations';
 
.myAvatarStrip{
    position:relative;

    height: 100%;
    width:100%;
    // background-color: rgb(53, 0, 26);
    // overflow: hidden;
    z-index: 22;
    // border: 4px dashed  rgb(221, 0, 0);
    z-index: 13;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;

    &_spacer-right{
        height: 220px;
        flex: .2;
        width:4px;
        // border: 4px dashed  rgb(88, 189, 70);
    }
    &_spacer-left{
        height: 220px;
        flex: 3.5;
        width:70px;}
        &_Ava{
            height: 100%;
            min-width: 110px;
            flex: 1;
            display: flex;
            flex-direction: column;
            .vertical_spacer{
                max-height: calc(60vh - 12vw);
                flex:1;}

            .myAvatarContainer{
                transform-style: preserve-3d;
                perspective-origin:55% -220% -90px; ;

                // position: relative;
                perspective: 400px;
                // outline: 3px dashed deeppink;
                &::after{
                    transform-origin: center center -90px;
                    // perspective-origin:555px 500px -90px; ;
                    transform:translate3d(0,0,44px) ;
                    z-index: 99;
                    content: 'Click Me';
                    text-align: center;
                    position: absolute;
                    padding: .4rem 1rem;
                    max-width: 22rem;
                    color: white;
                    color: rgb(75, 75, 75);
                    display: grid;
                    justify-items: center;
                    font-size: 1.8vmin;
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0.6);
                    background-color: rgba(228, 228, 228, 0.6);
                    bottom: 25vmin;
                    border-radius: 9px;
                    left: 20%;
                    animation: spining 10s  infinite;
                    touch-action: none;
                    pointer-events: none;

                }
                flex:2;
                min-height: 40vh;     
                position: relative;
                
            }
        }
    }
  
.myAvatar_svg{
    cursor: pointer;
    min-height: 40vmin;
    max-height: 50vmin;
    position:absolute;
    bottom: 0px;
}

.myAvatar-eyelash-svg {
    animation: eyelashanimation 7s infinite;
}

.myAvatar-eyes-svg {
    animation: eyeanimation 22s infinite alternate;
}

@keyframes spining {
    0%{
        transform: translate3d(0,0,44px) rotateX(-5deg)  rotateY(.5turn);
    }
    10%{ // SHOW
        transform: translate3d(0,0,44px) rotateX(-6deg) rotateY(.98turn);
    }
    // 30%{
    //     transform: translate3d(0,0,44px) rotateX(-5deg) rotateY(.97turn);
    // }
    // 40%{
    //     transform: translate3d(0,0,44px) rotateX(-4deg) rotateY(.96turn);
    // }
    50%{
        transform: translate3d(0,0,44px) rotateX(-5deg) rotateY(.96turn);
    }
    60%{ // HIDE
        transform: translate3d(0,0,44px) rotateX(-5deg) rotateY(1.5turn);
    }
    100%{
        transform: translate3d(0,0,44px) rotateX(-5deg)  rotateY(1.5turn);
    }

}