

.inputNumber {
    position: relative;
    height: 40px;
    background-color: transparent;
    margin: 2px;
    display: flex;
    &:focus > .inputNumber_btn,
    &:focus-within > .inputNumber_btn,
        &:hover > .inputNumber_btn{
    // & > .inputNumber_btn{
        background-color: rgba(255,255,255,.2);
        opacity: 1;
        transition: all .4s linear;
        &:nth-of-type(1) {
            transform : translateX(-70%);
            padding-left: 0px;
        }
        &:nth-of-type(2) {
            transform : translateX(60%);
            padding-left: 25px;
        }
    }
  }

  .inputNumber_input {
    border: none;
    display: inline-block;
    background-color: white;
    height: 100%;
    width: 40px;
    font-size: 1.3rem;
    border-radius: 16px;
    text-align: center;
    line-height: 40px;
    color: #3d3d3d;
    letter-spacing: -1px;
    z-index: 3;
  }

  .inputNumber_btn {
    z-index: 1;
    position: absolute;
    display: inline-block;
    width: 45px;
    height: 100%;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(118, 171, 255, 0.966);
    transition: background-color .2s ease;  
    border-radius: 20px;
    opacity: 0;
    transition: all .4s linear;

    &:nth-of-type(1) {
        &:active{
        background-color: rgba(255, 118, 198, 0.486);
        transition: background-color .1 linear;
        }
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        transform: translate(-22%);

    }
    &:nth-of-type(2) {
        &:active{
            background-color: rgba(168, 255, 175, 0.9);
            transition: background-color .1 linear;
        }

        border-bottom-left-radius:  8px;
        border-top-left-radius: 8px;
        transform: translate(9%);
        // padding-left: 15px;
        // transition: all .4s linear;
    }
    &:hover {
        background-color: rgba(255,255,255,.5);
    }
    
}
