@import '../../abstracts/mixins';
@import '../../abstracts/variables';

$border-radius: 33px;
$cardhight:240px;
$time-toPopupCrd: 1.5s ease;
$EduExp__color: rgb(26, 16, 16);
$time-img:2s;

.CardEdu{
    margin:4rem 2rem;
    border-top-width: 1px;
    min-height: $cardhight;
    min-width: 380px;
    max-width: 555px;
    flex:1 1;
    color: $EduExp__color;
    border:1.4px solid transparent;

    box-shadow: 0 -36px 37px -13px rgba(0, 0, 0, 0.48);
    position: relative; 
    background: 
    linear-gradient(to bottom left , rgb(0, 124, 207) , rgb(31, 143, 247));
    // background: 
    // linear-gradient(to bottom left , rgb(27, 27, 27) , rgb(58, 58, 58));
    border-radius:$border-radius;
    counter-reset: white;
    overflow: hidden;

    &_IMG_Con{
        height: 100%;
        width: 100%;
        position: relative;
        position: absolute;
        object-fit: contain;
        overflow: hidden;
        z-index: 0;
            &:after {
                position: absolute;
                content:"";
                height:110%;
                width:110%;
                top:-5%;
                left:-5%;
                background: 
                linear-gradient(to top, rgba(29, 29, 29, 0.493),
                rgba(0, 0, 0, 0.2)); }
            & img{
                opacity: .2;
                 overflow: hidden;
                // width: 120%;
                transition: all 2s .9s;
                width: 800px;
                position: relative;}
            
        transition: all $time-img ;}

    &_INFO_Con{
        // outline: 2px dashed deeppink;
        z-index: 4;
        transform: translate(0);
        padding:1.2rem 1.2rem;
        display: flex;
        flex-direction: column;
        height: 100%;

        &_Partitoin {
            padding: 1rem  2rem 1rem 1.4rem;
            background:  linear-gradient(to bottom left,
            rgba(255, 255, 255, 0.62),
            rgba(185, 185, 185, 0.85));
            box-shadow: 0 2px 9px -1px black;
            border-radius: calc( #{$border-radius} - 11px);
            transition: all $time-toPopupCrd;
            // filter: blur(4px);

        }
        .Partitoin_up{
            // border: 2px dashed deeppink;
            margin-bottom: 1.3rem;
        }
        .Partitoin_down{
            // border: 2px dashed deeppink;
            // filter: blur(4px);

            flex: 1;
        }



        .CardEdu_header .CardEdu_header_main_title:after{

            content: attr(extrainfo);//'19 - Present';/
            font-family: 'Lato', sans-serif;
            position: absolute;
            color: #005f96   ;
            padding-left: 1rem;
            font-size: 1.3rem;
            white-space: nowrap;
            top: -70%;
            opacity: 0.3;
            right: 0;
            font-weight: 600;
            transition: all $time-toPopupCrd; }
        
        .CardEdu_header{
            display: flex;
            align-items: flex-end;
            justify-content: space-evenly;
            justify-content:space-between;
            padding-bottom: 1rem;
            // border-bottom: 1px solid rgba(3, 93, 153, 0.877);
            // @include extraInfo();

            &_icon{
                flex: 77px;
                max-width: 49px;
                min-width: 49px;
                height: 49px;
                fill: rgb(104, 104, 104);

                transition: all $time-toPopupCrd; }

            &_main_title{
                font-family: 'Lato', sans-serif;
                letter-spacing: .1ch;
                text-transform: capitalize;
                font-weight: 400;
                position: relative;
                text-align:end; } } }

        &_second_title{
            margin-top: .2rem;
            font-size: 2rem;
             font-family: 'Lato', sans-serif;
             text-transform: capitalize;
             letter-spacing: .4ch;
             text-align: center;
             font-weight: 500;
         }
         &_paragraph{
             font-family: 'Noto Sans JP', sans-serif;
             line-height: 1.9rem;
             font-weight: 300;
             padding: 1rem 1rem 0 0;
             letter-spacing: .1ch;
             text-align: center;}
  
    transition: transform $time-toPopupCrd , box-shadow $time-toPopupCrd;

    &:hover{

        transform: translateY(-2px) scale(1.09);
        @include respond(phone){
            transform: translateY(-2px) scale(1.04);
            @include respond(v500){
                transform: translateY(-2px) scale(1.01);
            }
        }
        .CardEdu_INFO_Con_Partitoin{
            backdrop-filter: blur(3px);
        }
        // box-shadow: 0 11px 9px -3px rgba(0, 0, 0, 0.534);
    // box-shadow: 0 5px 22px 4px rgba(0, 0, 0, 0.8);
            .CardEdu_IMG_Con{
            // height: 188px;
            transition: all 2s .9s;
            img{
                opacity: 1;
                transition: all 2s .9s;
                animation: picture_bg_Swimming 23s infinite alternate linear;}

        }
        .CardEdu_INFO_Con_Partitoin:hover{transition: all 2s .9s; }
        .Partitoin_up:hover{ transform: translate3d(0,2px,0) scale(1.02);}
        .Partitoin_down:hover{transform: translate3d(0,-2px,0) scale(1.01); }
        
        .CardEdu_header{
            &_icon{
                transition: all 2s .9s;
                fill:rgb(0, 107, 156);
            }

            .CardEdu_header_main_title:after{
            opacity: .9;
            }

        }
        transition: transform $time-toPopupCrd , box-shadow $time-toPopupCrd;}
    
        &:target ,&:focus ,&:focus-within{
            transform: translateY(-2px) scale(1.01);
            box-shadow: 0 11px 9px -3px rgba(0, 0, 0, 0.534);
            .CardEdu_IMG_Con{
                height: 188px;
                img{
                    animation: picture_bg_Swimming 23s infinite alternate linear;} }}
    
    }

