@import '../../abstracts/mixins';

@include respond(seven){
  $stkCard_level_glow_color : lightblue;
  $stkCard_tilt : 0deg;
  $stkCard_spacing :0px;
  
.stackstrip_container {
  flex:1;
  gap: 10px;
  position: absolute;
  justify-content: flex-start;
  overflow-y:hidden;
  overflow-x:scroll;}

  .stackCard{
    flex:1;
    transform: rotateY($stkCard_tilt) translate3d(3px,0,0) ;//translateZ(12px);
    box-shadow: -6px 0 3px -2px rgba(0, 0, 0, 0.548);
    height: 300px;
    min-width: 200px;
    border-radius: 1px;
    &:hover ~ & { 
      transform: translateX(0);}
    &:not(:first-child) {
        margin-left: $stkCard_spacing; }
    &:hover {
      transform: translateY(0) ;}
  
  /// zoom out the picture
    &:hover &_Conimg_img{
      transition: transform 44s linear;
      transform: translate3d(-53%,-31%,0) scale(1.5);
    }
    &_brief{
      opacity: 1;
    }}}
