$stkCard_level_glow_color : lightblue;




.stackstrip{
  background-color: rgb(248, 248, 248);
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
  margin: 6rem 0;
  // perspective: 300px;



  &_container {
    display: flex;
    perspective: 300px;
    // flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

}

.stackCard{
   
//   background-image:linear-gradient( to right, 
// rgba(241, 241, 241, 0.842) 15% ,
//   rgba(3, 3, 3, 0.144) ,
//   rgba(46, 46, 46, 0.068));//,
  background-size: cover;
  border-left: 2px solid rgb(29, 112, 207);

                
  border-right: 2px solid #0959a5;
  // border-left: 4px solid rgb(135, 175, 2);
  // border-right: 4px solid rgb(135, 175, 2);
  transform: rotateY(7deg) translateZ(12px);
  display: flex;
  height: 300px;
  width: 200px;
  border-radius: 10px;
  box-shadow: -.1rem 0 4rem 1rem rgba(71, 71, 71, 0.1),

                      -4px 0 4px -2px  rgba(73, 73, 73,.4);;
  transition:  0.4s  ease-out;
  position: relative;
  overflow: hidden;



  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: linear-gradient(
      to bottom,
      
      rgba(11, 134, 206, 0.849),
      rgba(0, 144, 211, 0.644),
    
      rgba(99, 99, 99, 0.1),
      rgba(78, 78, 78, 0.527)
    );
    transition: transform 0.4s;
    // z-index: -1;
  }
  &:hover ~ & {  /*** Push(right) all the cards to the right ***/
    position: relative;
    //*** the push translateX(84%)   
    // those two are from the orginal setting rotateY(7deg) translateZ(12px) ;
    transform: translateX(84%) rotateY(7deg) translateZ(12px) ;
    transition: 0.4s ease-out;
  }

  &:hover::before {
    transform: translateY(-50%);
  }
  

  &:not(:first-child) {
      margin-left: -158px;
  }

  &:hover {
    transform: translateY(0) translateZ(22px);
    // background-position:-10px -50px;
    background-color: black;
    transition:  0.4s  linear , background-position 10s linear;
  }


  &:hover &_title{
      color:rgb(80, 80, 80);
      transition: all 0.2s ease-out;
    &::after{
        // background-color: lightcoral;
        color:rgb(126, 126, 126);
  
      }
  }

  &_title {
    padding:.5rem 0 ;
  transform: rotate(-.5turn) translateZ(87px);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 1.4rem;

    writing-mode:vertical-rl;
    color: rgb(235, 235, 235);
    font-weight: 400;
     letter-spacing: .1ch;
    margin:1rem .4rem;
    position: relative;
    transition: all 1s ease-in-out ;
    &::after{
      // background-color: lightcoral;
      color:rgb(209, 209, 209);

      letter-spacing: .1ch;
      content: attr(subtitle);
    }
  }


 
  &_brief{
    font-family: 'Noto Sans JP', sans-serif;

    height: 100%;
    margin: 0 .8rem 0 .8rem;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    line-height: 19px;
    letter-spacing: .5px;
    font-weight: 300;

    padding-right: .1rem;
    opacity: 0;
    transition: .4s linear;
    position: relative;
    // transform: translateZ(83px);
    transition: opacity .4s;


  }
  &:hover &_brief{
    opacity: 1;
    font-size: 1.4rem;
    line-height: 19px;
    // transform: translateZ(83px);
    transition: opacity 1s linear, transform 7s linear ;
  }



}
.stdcrdHide{
  position: absolute;
  // font-size: .6rem;
  p{
    font-size: .6rem;
  }

}



