@import '../../abstracts/mixins';

$stkCard_level_glow_color : lightblue;
$stkCard_tilt : 9deg;
$stkCard_spacing :-148px;
@include respond(big-desktop) { // width < 1200?
  @include respond(tab-land) { // width < 1200?
      @include respond(tab-port) { // width < 900px
          @include respond(phone) { // width < 600px

}}}}

.stackstrip_container {
    display: flex;
    perspective: 520px;
    // flex-wrap: wrap;
    width: 100%;
    justify-content: center;}



.stackCard{
  cursor: pointer;
  background-size: cover;
  transform: rotateY($stkCard_tilt) ;//translateZ(12px);
  display: flex;
  height: 320px;
  width: 220px;
  border-radius: 10px;
  box-shadow: -7px 0 11px -2px  rgba(73, 73, 73,.4);;
  transition:  0.4s  ease-out;
  position: relative;
  // border: 3px solid rgb(66, 66, 66);1
  transform-origin: left;
  overflow: hidden;

  &_Conimg{
    height:100%;
    width: 100%;
    position:absolute;
    border-radius: inherit;}

  &_Conimg_img{  // CARD BACK IMAGE
    height:  130%;
    z-index: -1;
    object-fit: cover ;
    transition: transform .2s ease;
    transform: translate3d(-5%,-5%,0);
    position: absolute;}
  &::before { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: // LIGHTER BOTTOM FOR BEAUTY
    linear-gradient(80deg, rgba(0, 0, 0, 0.493) 9%, rgba(0, 0, 255, 0) 59% ),
     linear-gradient(
      to bottom,
      
      rgba(11, 134, 206, 0.9),
      rgba(0, 74, 109, 0.4),
    
      rgba(46, 46, 46, 0.95),
      rgba(0, 0, 0, 0.87)
    );
    // background: // DARKER BOTTOM FOR EASY READING
    // linear-gradient(80deg, rgba(0, 0, 0, 0.493) 9%, rgba(0, 0, 255, 0) 59% ),
    //  linear-gradient(
    //   to bottom,
      
    //   rgba(11, 134, 206, 0.9),
    //   rgba(0, 74, 109, 0.4),
    
    //   rgba(46, 46, 46, 0.71),
    //   rgba(0, 0, 0, 0.87)
    // );
    transition: transform 0.4s;
    // z-index: -1;
  }
  &:hover ~ & {  // PUSHING CARDS TO THE RIGHT
    position: relative;

    transform: translateX(84%) rotateY($stkCard_tilt) ;// translateZ(12px) ;
    transition: 0.4s ease-out;
  }

  &:hover::before {
    transform: translateY(-50%);
  }
  

  &:not(:first-child) {
      margin-left: $stkCard_spacing;
  }

  &:hover {
    transform: translateY(0) ;// translateZ(22px); ///////////// causing a problem
    // background-position:-10px -50px;
    background-color: black;
    transition:  0.4s  linear , background-position 10s linear;
  }

/// zoom out the picture
  &:hover &_Conimg_img{
      
    transition: transform 44s linear;
    // transform: translate3d(-53%,-53%,0) scale(1.5);
    transform: translate3d(-53%,-31%,0) scale(1.5);
  }


  &_title {
    padding:.5rem 0 ;
  transform: rotate(-.5turn) translateZ(87px);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 1.4rem;

    writing-mode:vertical-rl;
    color: rgb(235, 235, 235);
    font-weight: 400;
     letter-spacing: .1ch;
    margin:1rem .4rem;
    position: relative;
    transition: all 1s ease-in-out ;
    &::after{
      // background-color: lightcoral;
      color:rgb(209, 209, 209);

      letter-spacing: .1ch;
      content: attr(subtitle);
    }
  }


 
  &_brief{
    font-family: 'Roboto', sans-serif;    
    // text-align: center;
    text-justify:inter-word;
    height: 100%;
    margin: 0 .8rem 0 .8rem;
    display: grid;
    align-items: center;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    line-height: 14px;
    letter-spacing:  .9px;
    font-weight: 300;
    padding-right: .1rem;
    opacity: 0;
    transition: .4s linear;
    position: relative;
    // transform: translateZ(83px);
    transition: opacity .4s;


  }
  &:hover &_brief{
    opacity: 1;
    // transform: translateZ(83px);
    transition: opacity 1s linear, transform 7s linear ;
  }



}
.stdcrdHide{
  position: absolute;
  // font-size: .6rem;
  p{
    font-size: .6rem;
  }

}



