@import '../../abstracts/mixins';

.CardStrip{
    transform: translate(0);// TO RAISE THE CONTEXT OF IT SO MAIN INTRO DON'T COMES OVER
    position: relative;
    z-index: 20;
    height:500px;
    background-color: rgb(235, 235, 235);
    background: linear-gradient(to left, white 6%, rgb(247, 247, 247) 50%
    , white 94%);
    width: 100vw;
    display: flex;
    align-items:  center;
    perspective:600px;
    overflow: hidden;
    // perspective-origin:  50% 20%;

    &_BACKGround{
        position: absolute;
        height: 90%;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        align-items: center;
        &_left-bg{
            min-width: 55px;
            flex: 1.1 3;}
/////////////////////////////////////////////////////////////////
        &_right-bg{
            height: 20%;
            align-self: flex-end;
            transform: translate3d(-2%,0,0) scale3d(1,.2,1);
            flex: 7.5 3;
            margin-left: -2%;
            position: relative;
            // background-color: rgba(131, 190, 245, 0.1);
            background: radial-gradient(rgba(80, 80, 80, .1),rgba(169, 169, 169, 0.192),rgba(172, 172, 172, .041),rgba(172, 172, 172, 0));
            opacity: .5;
                &::after{
                position: absolute;
                content: "";
                height: 55px;
                // left: -1px;
                bottom: 105%;;
                width: 110%;
                transform:  translate3d(0,0%,0)  rotateX(7deg) scale3d(1,3,1);}}}
    &_grid_TOPright-bg{
        // z-index: 23;
        flex: 8.5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 505px;
        position: relative; }}
.CardStrip_grid_TOPleft-bg{
            height: 80%;
            flex: 1;
            background-color: rgb(37, 138, 196);
            transform-origin: left;
            transform: rotateY(-3deg);
            border-bottom-right-radius:  7px;
            border-top-right-radius:   7px;
            position: relative;
            @include shadowbend-left;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 333;

            transition: transform .4s ;
            &:hover{
                // transform: rotateY(-4deg);
            transform: rotateY(-2deg);

                transition: transform .4s ;
            }
            &:hover::after{
                transform:skewX(-2deg) translateZ(-3px);
                transition: transform .4s ;
            }
            &:hover::before{
                transform:skewX(2deg) translateZ(-3px);
                transition: transform .4s ;
            }
            


            &_txt{
                position: relative;
                color: rgb(255, 255, 255);
                white-space: nowrap;
                position:relative;
                font-family: 'Roboto','Lato', sans-serif;
                display: flex;
                flex-direction: column-reverse;
                text-transform: uppercase;

                // justify-content: flex-start;
                // align-items: center;
                place-items: center;
                .Training{
                    position: relative;
                    font-family: 'Roboto', sans-serif;    
                    font-weight: 600;
                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                    margin-right: -.4ch 0 -.4ch 0 ;
                    transform: rotate(-.5turn) translate(-20%);
                    color: rgb(255, 255, 255);
                    letter-spacing: .1ch;
                    font-size: 1.9rem;
                }
                .and{
                    color: rgb(71, 71, 71);
                    font-size: 1.3rem;
                    font-weight: 600;
                    transform: rotate(-.5turn);
                    letter-spacing: .1ch;
                    margin: -.4ch 0;

                }
                .Projects{

                    &:not(::first-letter){
                        color:plum;
                    }
                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                    font-size: 3rem;
                    transform: rotate(-.5turn);
                    font-weight: bold;
                    position: relative;
                    &::first-letter{
                        position: relative;
                        font-size: 4rem;
                        transform: rotate(-.5turn) translate(-50%);
                    }

                }
            }

}

