@import '../../abstracts/variables';

.divider{
    background-size: cover;
        height: 70px;
        position: relative;
        z-index: 999;
        background-color: $bg-body;
        margin-top: -60px;
        clip-path: polygon(0 0, 5% 0, 10% 86%, 90% 86%, 95% 0, 100% 0, 100% 100%, 0 100%);



}