@import '../../base/animations';
@import '../../abstracts/variables';
@mixin logeSize(){
    width: 50px;
    height: 69px;
    border-radius: 3rem;
    border: .2px solid rgb(0, 166, 196);

}
@mixin bord($color: rgb(0, 166, 196)){
    border: 1px dashed $color;
}

.skill_logoStrip{
    // overflow: hidden;
    height: 180px;
    // border: 3px dashed peru;
    position: relative;
    z-index: 999;
    background:
    linear-gradient(to bottom, 
    rgb(114, 114, 114),
    $bg-body);

    &-skewed{
        height: 100%;
        width: 100%;
        background-color: rgba(36, 36, 36, 0.39);
        transform:skewY(5deg);
        transform-origin: right;
        backdrop-filter: blur(3px);
            overflow: hidden;

    }
}

// skill_logoStrip-skewed
.SL_SK{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    
    &_Move-1{
        @include bord;
        & > div{
            // display:inline-flexbox;
            transform: translateY(-50%);
            white-space: nowrap;
        }
        &Flex-1{
            
            position: absolute;
            animation:moveLogo-right 33s infinite linear;
            // transform:translate(100%) 
        }
        &Flex-2{
            position: absolute;
            animation:moveLogo-right2 33s infinite linear;
        }
    }

}




.SL_IMGcontainer{
    // flex:0;
    perspective: 299px;
    transform-style: preserve-3d;
    display: inline-block;
    position: relative;
    margin: 0 22px;
    &:hover{
        cursor: pointer;
        
    }
    &::after{
        position: absolute;
        content: attr(info);
        white-space: nowrap;
        color: rgb(235, 235, 235);
        font-size: 1.6rem;
        bottom: 110%;
        border-radius: 9px;
        border-bottom-left-radius: 0;
        background-color: rgba(0, 0, 0, 0.671);
        padding: 1px 4ch;
        opacity: 0;
        transition: opacity .14s linear;
        box-shadow: 13px 0px 12px -8px rgba(0, 0, 0, 0.555);


    }
    &:hover::after{
        transition: opacity .4s linear;
        opacity: 1;
    }
    &_img{
        transform:  rotate(-1deg); // just for perfection
        @include logeSize();
        box-shadow: 13px 0px 12px -8px rgba(0, 0, 0, 0.555);
    }

}


