@import '../../base/animations';
@import '../../abstracts/variables';
@mixin logeSize(){
    width: 45px;
    height: 65px;
    border-radius: 3rem;
    border: .2px solid rgb(0, 166, 196);

}
@mixin bord($color: rgb(0, 166, 196)){
    border: 1px dashed $color;
}

.skill_logoStrip{

    margin-bottom: 80px;
    height: 150px;
    position: relative;
    z-index: 999;
    transform-style: preserve-3d;
    perspective: 1100px;
    perspective-origin:0% -50%;

    transform-origin:  left;

	// overflow-x: hidden;
	// overflow-y: visible;
    background:
    linear-gradient(to bottom, 
    rgb(114, 114, 114),
    $bg-body);

    &-skewed{
        .Skewed_overFlowHidden{
            position: absolute;
            height: 100%;
            width: 100%;
            border: 3px dashed deeppink;
        }

        position: absolute;
        height: 100%;
        // top :-200%;
        width: 100%;
        background-color: rgba(36, 36, 36, 0.2);
        transform-origin: 0px ;
        transform: translate3d(0,-100%,0) skewY(5deg);
        // transform:  translate3d(0,0,2px) rotate3d(0,-1,0,2deg);
        // transform:   translate3d(0,-50%,0) rotateY(-10deg);

        backdrop-filter: blur(1px)  grayscale(1); 
        border: 2px solid rgb(50, 169, 205);
        border-right: 0;
        border-left: 0;
    // filter:contrast(0.5) ; 

            overflow: hidden;

    }
}

// skill_logoStrip-skewed
.SL_SK{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;

    
    &_Move-1{
        // filter:  grayscale(.2); 

        // @include bord;
        & > div{
            // display:inline-flexbox;
            transform: translateY(-50%);
            white-space: nowrap;

        }
        &Flex-1{
            
            position: absolute;
            animation:moveLogo-right 33s infinite linear;
            // transform:translate(100%) 
        }
        &Flex-2{
            position: absolute;
            animation:moveLogo-right2 33s infinite linear;
        }
    }

}




.SL_IMGcontainer{
    // flex:0;

    display: inline-block;
    position: relative;
    margin: 0 22px;
    opacity: .5;

    transition: opacity .4s linear;
    &:hover{
        cursor: pointer;
        opacity: 1;
        transition: opacity .4s linear;



        
    }
    &::after{
        position: absolute;
        content: attr(info);
        white-space: nowrap;
        color: rgb(235, 235, 235);
        font-size: 1.3rem;
        bottom: 110%;
        border-radius: 9px;
        border-bottom-left-radius: 0;
        background-color: rgba(0, 0, 0, 0.671);
        padding: 1px 33%;
        opacity: 0;
        transition: opacity .14s linear;
        box-shadow: 13px 0px 12px -8px rgba(0, 0, 0, 0.555);
        animation: fadeOut 1s linear;



    }
    &:hover::after{
        transition: opacity .4s linear;
        animation: showABit 4s linear;
        
        // opacity: 1;
    }
    &_img{
        // opacity: .5;
// 

        transform:  rotate(-1deg); // just for perfection
        @include logeSize();
        box-shadow: 13px 0px 12px -8px rgba(0, 0, 0, 0.555);
    }

}


@keyframes showABit {
    0%{
        opacity: 0.1;
    }
    10%{
        opacity: 1;
    }    
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 0.2;
    }

    100%{
        opacity: 0;
    }
}