
@import '../../abstracts/mixins';

body {
	--animation-speed: 33s;
	// background-color: rgb(37, 29, 24);
}

.Mi_container{
    height: 80vh;
    @include respond(h800)
    {
        height: 85vh;
        @include respond(v800){
            height: 80vh;
            @include respond(phone){height: 70vh;}
        }
        @include respond(h700)
        {
            height: 85vh;
            @include respond(h600)
            {
                height: 85vh; }}}
    @include respond(v800){
        // height: 70vh;
        @include respond(phone){height: 85vh;}
    }
    @include respond(phone){
        @include respond(h700)
        {height: 85vh;}
    }
}
.sky {
    top:0;

    // border: 5px dashed red;
	width: 100%;
	min-height: 100%;
	position: absolute;
	// bottom:  -100%;
    top:0;
	left: 0;
	max-height: 600px;
	overflow: hidden;
}

.sky__phase {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: opacity 0.2s;
}

.sky__dawn {
	background: linear-gradient(
		0deg,
		rgba(254, 215, 102, 1) 0%,
		rgba(205, 237, 246, 1) 100%
	);
	animation: linear dawn infinite var(--animation-speed);
}

.sky__noon {
	position:absolute;
	background: linear-gradient(
		0deg,
		rgba(205, 237, 246, 1) 0%,
		rgba(36, 123, 160, 1) 100%
	);
	animation: linear noon infinite var(--animation-speed);
}

.sky__dusk {
	background: linear-gradient(
		0deg,
		rgba(255, 32, 110, 1) 0%,
		rgba(10, 0, 94, 1) 100%
	);
	animation: linear dusk infinite var(--animation-speed);
}

.sky__midnight {
	background: linear-gradient(
		0deg,
		rgba(2, 0, 20, 1) 0%,
		rgba(10, 0, 94, 1) 100%
	);
	animation: linear midnight infinite var(--animation-speed);
}

.orbit {
	// border:3px solid red;
	position: absolute;
	width: 200wh;
	height: 100vh;
	left:12%;
	margin: 200px auto;
	transform: rotate(-45deg);
	animation: linear sunrise infinite var(--animation-speed);
}

.moon {
	position: absolute;
	bottom: -40px;
	right: -40px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 7px 7px rgba(255, 255, 255, 0.2);
}


@media (min-width: 768px) {
	.sky {
		max-height: 600px;
	}
	.orbit {
		width: 700px;
		height: 700px;
		margin: 150px auto;
	}
}

@media (min-width: 940px) {
	.orbit {
		width: 800px;
		height: 800px;
	}
}

@media (min-width: 1200px) {
	body {
		--animation-speed: 33s;
	}
	.orbit {
		width: 1000px;
		height: 1000px;
		margin: 200px auto;
	}
}

@media (min-width: 1500px) {
	body {
		--animation-speed: 33s;
	}
	.orbit {
		width: 1300px;
		height: 1300px;
	}
}


@keyframes sunrise {
	from {
		transform: rotate(-45deg);
	}

	to {
		transform: rotate(315deg);
	}
}

@keyframes moonrise {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(180deg);
	}
}

@keyframes dawn {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
}

@keyframes noon {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
}

@keyframes dusk {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
}

@keyframes midnight {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
}

