@import '../../abstracts/mixins';



$edu__fontsize: 5.9rem;
    
.EduStrip{
    
    transform: translate(0);
    padding-top: 9rem;
    overflow: hidden;
    background-color: rgb(241, 241, 241);
    z-index: 9990;
    box-shadow: inset 0 5px 11px rgba(0, 0, 0, 0.2);
    @include respond(tab-port){
    border-top: 7px solid rgb(146, 146, 146) ;
    background-color: rgb(233, 233, 233);

    box-shadow: 0 -5px 11px rgba(0, 0, 0, 0.2);}

   
    &__title{
        font: $edu__fontsize 'Lato', sans-serif;
        text-align: end;
        width: 60%;
        transform:rotate(-2deg) ;
        text-transform: uppercase;}
    &__title__Education{
        margin-bottom: -5rem;
        letter-spacing: .1ch;
        font-size: $edu__fontsize - 3rem ;}
        font-weight: 400;
        
    &__title__Experience{
        .remove__skew{
            position: relative;
            &::first-letter{font-size: $edu__fontsize + 2;}
            &::after{
                font-family: serif;
                content: '&';
                font-size: $edu__fontsize + 4rem;
                position: absolute;
                color:rgba(119, 155, 21, 0.562);
                text-shadow:  -7px 3px 3px rgba(0, 0, 0, 0.21);
                transform: rotate(-7deg) translate3d(-1px,-20%,0);  }}}

    @include respond(phone){


        &__title__Education{
            width: 300px;}
        &__title__Experience{
            .remove__skew{
                width: 100vw;
                font-size: 75%;
                text-align: start;
                padding-left: 2rem;
                &::first-letter{font-size: $edu__fontsize + 1;}
                &::after{
                    transform: rotate(-7deg) translate3d(-1px,-10%,0); 
                    font-size: $edu__fontsize + 2rem;  }}}
                    @include respond(v400){
                        &__title__Education{
                            width: 180px;
                            font-size: 2rem;
                            margin-bottom: -2.6rem;
                        }
                        &__title__Experience{
                            .remove__skew{
                                width: 100vw;
                                font-size: 45%;
                                text-align: start;
                                padding-left: 2rem;
                                &::first-letter{font-size: 4rem ;}
                                &::after{
                                    font-size: $edu__fontsize ;  }}}}}
    &__blue-strip{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.514);
        border-radius: 30%;
        transform:rotate(-2deg)  translate(0);//calc(100%/-6));
        box-shadow:  0 -9px 20px 1px rgba(0, 0, 0, 0.3);
        height: 9rem;
        z-index: 66;
        position: relative;
        &::after{

            z-index: 66;
            height: 110%;
            width: 200%;
            content: '';
            background-color: rgb(43, 137, 226);
            left: -20%;
            background: 
                radial-gradient(circle at bottom left, 
                    rgba(247, 114, 247, 0.16) , 
                    rgba(255, 255, 0, 0.13)),
                linear-gradient(79deg,
                    rgb(22, 94, 161) ,
                    rgb(58, 132, 201) 36%,
                    rgb(14, 66, 114) 66%);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
            position: absolute;}}
    



}