@import '../../abstracts/mixins';

.nav{
    .contactCon{
        height: inherit;
        width: inherit;
        background-color: rgba(0, 0, 0, 0.434);
        touch-action:auto;
        pointer-events: auto;
        backdrop-filter: blur(3px) grayscale(0);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display:none; }}

.ct_con-deco{
    min-height: 450px;
    max-height: 80vh;
    width: 388px;
    padding: 3%;
    border-radius: 5%;
    box-shadow: 0 8px 6px -4px rgba(0, 0, 0, 0.479),
     0 0px 8px  rgba(0, 0, 0, 0.579);
    background:
    radial-gradient(ellipse at 44% 33%, rgba(0, 204, 255, 0.1) , rgba(0, 174, 255, 0.1)),
     linear-gradient(to bottom right  ,
     rgba(224, 224, 224, 0.3) 50%, rgba(128, 128, 128, 0.3) 50%, 
     rgba(128, 128, 128, 0.3) 100%);
    @include respond(phone){
        min-height:65vh;
        width: 350px;
        border-radius: 15px;
        padding: 2%;
        @include respond(v400){
            width: 100vw;
            border-radius: 0;
        }
        }}

.ct_con{
    text-align: center;
    height: 100%;
    width: 100%;
    background: rgba(247, 247, 247, 0.79);
    border-radius: inherit;
    padding: 5%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.79);


    // overflow: scroll;

    form{
        display: flex;
        flex-direction: column;
        align-items: center ;
        width: 100%;
        // border: 2px dashed deeppink;
        height: 90%;
        justify-content: space-evenly;
        & > *{
            // border: none;
        }
        textarea , input{
            font-size: 1.2rem;
            margin-top: 1rem;
            outline: none; 
            padding:.4rem .8rem;
            // -webkit-appearance: none;
            border: 1px solid lightskyblue;
            border-bottom-width: 2px;
            border-radius: 5px;
            transition: all .3s ease;
            width: 210px;
            resize: none;
            &:focus ,&:active{
                border-color: rgb(30, 98, 175);
                box-shadow: 0px 5px 6px -6px rgba(0, 0, 0, 0.479);
                transition: all .3s ease;
                transform: scale(1.04);
            }
        }
        .ct_sub_btn{
            background-color: rgb(43, 124, 156);
            color: white;
            text-transform: uppercase;
            font-size: 1.4rem;
            transition: all .2s ease;
            margin:0 1rem;
            position: relative;
            box-shadow: 0 8px 9px -4px rgba(0, 0, 0, 0.39);
            &:hover{
                transform: translate3d(0,-1px ,0);
                box-shadow: 0 10px 9px -4px rgba(0, 0, 0, 0.39);
                transition: all .2s ease;
            }
            &:active{
                transform: translate3d(0,1px ,0);
                box-shadow: 0 5px 9px -4px rgba(0, 0, 0, 0.39);
                transition: all .2s ease;
            }
        }
        .close{
            background-color: rgb(141, 40, 71);

        }

    }

    // border-bottom: 2px solid dimgray;
    // border-top: 2px solid dimgray;
}