@import '../../abstracts/mixins';

.nav{
    font: 2rem 'Roboto',sans-serif;

  // margin-bottom: ;
    position:fixed;
    z-index: 9999;
    width: 100vw;
    pointer-events: none;
    background: none;
    touch-action:none;
    // border:8px dashed lightcoral;
    height: 100vh;
 
&Grid{
        display: grid;
        height: 100%;
        width: 100%;

        grid-template-columns: 12.5% 1fr 30% 5%;
        grid-template-rows:15% 1fr 9fr 5%;
        & > div >  * {
            touch-action:auto;
            pointer-events: auto;
        }
        &_titleCon{
            position: relative;
            
            color: rgba(255, 255, 255, 1);
            // animation: vanishText .9s   reverse linear ;
            text-shadow: 
            0 3px 4px rgb(48, 48, 48);
            transition:all .3s ;

            grid-row: 2/3;
            grid-column: 2/3;
            &_title{
                font-family: 'Loto', sans-serif;    
                
                font-size: 3.5rem;
                font-weight: 800;
                text-transform:uppercase;
                text-shadow: 4px;
                margin-bottom: 2rem;

            }
        }

///////////////////////////////////////////////
/////////////////// the button effect
        .navGrid_BtnCon{
            position: relative;
            grid-column: 2/-2;
            grid-row: 3/-2;
            border:8px dashed lightcoral;

            &_button{
                // position: absolute;

                font-family: 'Loto', sans-serif; 
                font-weight: 600;
                background-color: transparent;
                color: white;
                border: 2px solid white;
                // margin-right:-100%;
                margin-top: 3rem;
                transition: all 1.6s ;
                @include shadowbend-bottom;
    // border:8px dashed lightcoral;


                &-1{
                    position: absolute;
                    bottom: 90%;

                    transform: translate3d(100%,0,0);
                }
                &-2{
                    
                    transform: translate3d(100%,0,0);
                    height: 2.2em;
                     width:  111px;
                    position: absolute;
                    bottom: 90%;
                    right:      100%;
                    font-weight: 400;
                    color: rgb(82, 163, 230);
                    background-color: white;
                    & > *{
                        transition: all 1.6s ;

                        fill:rgb(82, 163, 230);

                        // display: none;
                        width: 0;
                        height: 0;
                    }
                }
              
            }
        }
    }
}
.navGrid_BtnCon-sp1{
    // border:44px dashed rgb(226, 223, 61);

            .navGrid_BtnCon_button-1{
                display: none;
            }
            .navGrid_BtnCon_button-2{
    transform: translate3d(0,0,0);
                margin: 0;
                height: 45px;
                width:  45px;
                border-radius: 50%;
                bottom: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                padding:.5ch;
                // background-color: rgb(224, 224, 224);
                font-size: 0;
                transition: all 1.6s ;
                border: 1px solid rgb(207, 207, 207);

                & > *{

                    // display:inline-block;
                    // color: inherit;
                        transition: all 1.6s ;

                    width:22px;
                    height:22px;
                }
            }
            
        
}

.foggyVanish{
animation: vanishText .9s linear ;
        color: rgba(255, 255, 255, 0.0);
        text-shadow: 
        12px 12px 33px rgba(255, 255, 255, 0),
        -12px 12px 33px rgba(255, 255, 255, 0),
        -12px -12px 33px rgba(255, 255, 255, 0);
        visibility: hidden;
}
@keyframes vanishText{
    0%{
        transform: translate3d(0,0,0);

    color: rgba(255, 255, 255, 1);
    text-shadow: 
    0 0 0 rgba(255, 255, 255, 1),
    0 0 0 rgba(255, 255, 255, 1),
    0 0 0 rgba(255, 255, 255, 1);
        visibility:visible;
    }
    25%{
    color: rgba(255, 255, 255, 0.24);
    text-shadow: 
    3px 3px 3px rgba(255, 255, 255, 1),
    -3px 3px 3px rgba(255, 255, 255, 1),
    -3px -3px 3px rgba(255, 255, 255, 1);
    }
    50%{
    color: rgba(255, 255, 255, 0.14);
    text-shadow: 
    6px 6px 9px rgba(255, 255, 255, 1),
    -6px 6px 9px rgba(255, 255, 255, 1),
    -6px -6px 9px rgba(255, 255, 255, 1);
    }
    75%{
    color: rgba(255, 255, 255, 0.04);
    text-shadow: 
    12px 12px 15px rgba(255, 255, 255, .4),
    -12px 12px 15px rgba(255, 255, 255, .4),
    -12px -12px 15px rgba(255, 255, 255, .4);
    }
    99%{
        transform: translate3d(0,-50%,0);
        color: rgba(255, 255, 255, 0.0);
        text-shadow: 
        12px 12px 33px rgba(255, 255, 255, 0),
        -12px 12px 33px rgba(255, 255, 255, 0),
        -12px -12px 33px rgba(255, 255, 255, 0);
        visibility: visible;
        }
        100%{

            visibility: hidden;
        }
    
}