@import '../../abstracts/mixins';

.nav{
    font: 2rem 'Roboto',sans-serif;

  // margin-bottom: ;
    position:fixed;
    z-index: 9999;
    width: 100vw;
    pointer-events: none;
    background: none;
    touch-action:none;
    // border:8px dashed lightcoral;
    height: 100vh;
 
&Grid{
        display: grid;
        height: 100%;
        width: 100%;

        grid-template-columns: 12.5% 1fr 30% 5%;
        grid-template-rows:20% 1fr 9fr 5%;
        &  * {
            touch-action:auto;
            pointer-events: auto;
        }
        &_titleCon{
            color: white;
            
            // grid-row: 4/5;
            // grid-column: 3/10;


            grid-row: 2/3;
            grid-column: 2/3;

            &_title{
                font-family: 'Loto', sans-serif;    

                font-size: 3rem;
                font-weight: 400;
                text-transform:uppercase;

            }
        }

        // &_BtnCon
        .navGrid_BtnCon{

            position: relative;
            grid-column: 2/-2;
            grid-row: 3/-2;
        

            border: 4px dashed plum;
            &_button{
                position: absolute;

                font-family: 'Loto', sans-serif; 
                font-weight: 600;
                background-color: transparent;
                color: white;
                border: 2px solid white;
                // margin-right:-100%;
                margin-top: 3rem;
                transition: all .9s ;
                @include shadowbend-bottom;

                &-1{
                    transform: translate3d(100%,0,0);
                }
                &-2{
                    transform: translate3d(100%,0,0);
                    height: 2.25em;
                     width:  111px;
                    position: absolute;
                    bottom: 90%;
                    right:      100%;
                    font-weight: 400;
                    color: rgb(82, 163, 230);
                    background-color: white;
                    & > *{
                        transition: all .9s ;

                        fill:rgb(82, 163, 230);

                        // display: none;
                        width: 0;
                        height: 0;
                    }
                }
              
            }
        }

        
    }
}

.navGrid_BtnCon-sp1{


            .navGrid_BtnCon_button-1{
                display: none;
            }
            .navGrid_BtnCon_button-2{
    transform: translate3d(0,0,0);
                margin: 0;
                height: 45px;
                width:  45px;
                border-radius: 50%;
                bottom: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                padding:.5ch;
                // background-color: rgb(224, 224, 224);
                font-size: 0;
                transition: all .9s ;
                border: 1px solid rgb(207, 207, 207);

                

                & > *{

                    // display:inline-block;
                    // color: inherit;
                        transition: all .9s ;

                    width:22px;
                    height:22px;
                }
            }
            
        
}
button{
    // font: inherit;
    height: 2em;
    font-size: 1.6rem;
    position: relative;
    outline: none;
    border: 0;
    border-radius: 1em;
    padding: .2em 1em;
    box-shadow: none;
    white-space: nowrap;
    // touch-action:auto;
    // pointer-events: auto;
    
    &:hover{
        transform: translate3d(0,3px,0);
    }
}