@import '../../abstracts/mixins';


.ft{
    // margin-top: -22px;
    background-color: #1b75be;
    padding: 1rem 0;
    color: white;
    // height: 200px;
    // color: rgb(61, 61, 61);
    // display: grid;
    // align-items: center;
    & > *{
        color: inherit;
    }
    &_details{
        // border: 2px dotted deeppink;
        // flex: 2;
        margin: 0 0 3rem 0 ;

        display: flex;
        column-gap: 22px;
        flex-wrap: wrap;
        justify-content: center;
        & > *{
            color: inherit;
            white-space: nowrap;}
        font: 1.6rem  'Noto Sans JP', sans-serif;
        font-weight: 500;
        letter-spacing: .1ch;
        word-spacing: .2ch;
    }
    &_ICON{
        margin: 3rem 0 0 0 ;
        height: 55px;
        display: flex;

        gap: 33px;
        justify-content: center;
        align-items: center;
        &-con{
            width:  33px;
        }
        &-con:nth-child(n+4){
            width:  39px;
        }
        &-svg{
            height: 100%;
            width: 100%;
            fill:white;
        }
    }
    // @include respond(big-desktop) { // width < 1200?
    //     @include respond(tab-land) { // width < 1200?
    //         &_left{
    //         grid-template-columns: repeat(auto-fit , max-content  );
    //         grid-auto-flow: row;
    //         }

    //         @include respond(tab-port) { // width < 900px
    //             &_left >*{
    //                 text-align: center;
                   
    //                     margin: 0;
    //                 }
    //             @include respond(phone) { // width < 600px

    // }}}}
}