@import '../../abstracts/mixins';


.ft{
    // margin-top: -22px;
    transform: translate(0);
    box-shadow: 0 -1px 7px rgba(0, 0, 0, 0.745);
    background-color: #1b75be;
    background:
    radial-gradient(circle at top left , rgba(0, 0, 0, 0.219) 11%, rgba(0, 0, 0, 0) 33%),
    radial-gradient(circle at top right , rgba(0, 0, 0, 0.219) 11%, rgba(0, 0, 0, 0) 33%),
    radial-gradient(circle at bottom right , rgba(49, 49, 49, 0.19) , rgba(0, 0, 0, 0) 33%),
    radial-gradient(circle at bottom left , rgba(110, 110, 110, 0.19) , rgba(0, 0, 0, 0) 33%),
    linear-gradient(79deg,
    rgb(37, 123, 204) ,
    rgb(58, 132, 201) ,
    rgb(26, 138, 243) );
    // #1b75be;
    // linear-gradient(to right ,#16588f ,#2474b6 ,#115d9c );
    padding: 1rem 0;
    color: white;
    & > *{
        color: inherit;
    }
    &_details{
        margin: 6rem 0 2rem 0 ;
        display: flex;
        column-gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        & > *{
            color: inherit;
            white-space: nowrap;}
        font: 1.6rem  'Roboto', sans-serif;
        font-weight: 500;
        letter-spacing: .051ch;
        word-spacing: .1ch;
    }
    &_ICON{
        margin: 0 0 5rem 0 ;

        height: 55px;
        display: flex;
        gap: 33px;
        justify-content: center;
        align-items: center;
        &-con{
            width:  33px;
        }
        &-con:nth-child(n+4){
            width:  39px;
        }
        &-svg{
            height: 100%;
            width: 100%;
            fill:white;
        }
    }
}