@import '../../abstracts/mixins';


.ft{
    // margin-top: -22px;
    background-color: #005f96;
    padding:0 5rem 5rem 5rem;
    // display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    color: white;
    & > *{
        margin: 14px 0 ;
        color: inherit;
    }
    &_details{
        display: flex;
        column-gap: 11px;
        // column-gap: 11px;
        flex-wrap: wrap;
        // flex-basis: max-content;
        // flex-basis: content;


        justify-content: center;
        & > *{
            white-space: nowrap;

        }
        // grid-template-columns: repeat(auto-fit, minmax(max-content, auto));
        // grid-template-columns: repeat(auto-fill, minmax(max-content, auto) );
        // grid-template-columns: repeat(auto-fit , minmax( 330px, 1fr));

        // justify-content: center;
        // grid-auto-flow: row;
        //  min-width: 200px;
        font: 1.6rem  'Noto Sans JP', sans-serif;
    }
    &_ICON{
        display: flex;
        gap: 33px;
        justify-content: center;
        align-items: center;
        &-con{
            width:  33px;
        }
        &-con:nth-child(n+4){
            width:  39px;
        }
        &-svg{
            height: 100%;
            width: 100%;
            fill:white;
        }
    }
    // @include respond(big-desktop) { // width < 1200?
    //     @include respond(tab-land) { // width < 1200?
    //         &_left{
    //         grid-template-columns: repeat(auto-fit , max-content  );
    //         grid-auto-flow: row;
    //         }

    //         @include respond(tab-port) { // width < 900px
    //             &_left >*{
    //                 text-align: center;
                   
    //                     margin: 0;
    //                 }
    //             @include respond(phone) { // width < 600px

    // }}}}
}