@keyframes eyelashanimation{

    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    21%{
        opacity: 1;
    }
    21.8%{
        opacity: 1;
    }
    22.5%{
        opacity: 0;
    }
    50%{
        opacity: 0;

    }
    51%{
        opacity: 1;
    }
    51.8%{
        opacity: 1;
    }
    52.5%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    91%{
        opacity: 1;
    }
    94%{
        opacity: 1;
    }
    95%{
        opacity: 0;
    }
    96%{
        opacity: 0;
    }
    97%{
        opacity: 1;
    }
    98%{
        opacity: 1;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }

}
@keyframes eyeanimation {

        0% {
            transform: translateX(1px);
        }
    
        100% {
            transform: translateX(-1px);
        }
    } 


@keyframes moveLogo-left {
    from{transform: translate3d(0,-50%,0);// translateY(-50%) translate(0);
    }
    to{transform:  translate3d(-100%,-50%,0);}//translateY(-50%) translate(100%);}
}
@keyframes moveLogo-left2 {
    from{transform: translate3d(100%,-50%,0);}//translateY(-50%) translate(-100%);}
    to{transform:translate3d(0,-50%,0);}//translateY(-50%) translate(0);}
}
// @keyframes movecloud {
//     from{transform: scaleX(4),rotateX(1deg);// translateY(-50%) translate(0);
//     }
//     to{transform:  scaleX(8),rotateX(222deg)}//translateY(-50%) translate(100%);}
// }

@keyframes movecloud {
    from{transform: scaleX(2) ;//rotateX(180deg);// translateY(-50%) translate(0);
    }
    to{transform:  scaleX(5) };//rotateX(10deg)}//translateY(-50%) translate(100%);}
}



@keyframes improvedFlashing {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}



@keyframes flashing {

    0% {
        opacity: 0;
    }
    
    9% {
        opacity: 1;
    }
    41% {
        opacity: 1;
    }
    45% {
        opacity: 0.6;
    }
    
    51% {
        opacity: 1;
    }
    61% {
        opacity: 1;
    }
        
    87% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }
} 

@keyframes windMovePaper {
    0%{
        transform: rotateY(-7deg);
    }
    10%{
        transform: rotateY(-5deg);
    }    
    20%{
        transform: rotateY(-7deg);
    }
    30%{
        transform: rotateY(-5deg);
    }
    40%{
        transform: rotateY(-6deg);
    }
    60%{
        transform: rotateY(-5deg);
    }
    80%{
        transform: rotateY(-7deg);
    }
    90%{
        transform: rotateY(-5deg);
    }
}

// animation: windMovePaper 8s ease-in-out infinite;
@keyframes moveArrows {
    0%{
        transform:  translate3d(0px,0px, 0);
    }
    10%{
        transform:  scale(1.04) translate3d(-1px,-1px, 0);
    }    
    20%{
        transform:  translate3d(1px,1px, 0);
    }
    30%{
        transform:  translate3d(-1px,-1px, 0);
    }
    40%{
        transform:  translate3d(1px,-0px, 0);
    }
    60%{
        transform:  scale(1) translate3d(-1px,-1px, 0);
    }
    80%{
        transform:  translate3d(0px,1px, 0);
    }
    90%{
        transform:  translate3d(1px,-1px, 0);
    }
}

// @keyframes moveInLeft {
//     0% {
//         opacity: 0;
//         transform: translateX(-10rem);
//     }

//     80% {
//         transform: translateX(1rem);
//     }

//     100% {
//         opacity: 1;
//         transform: translate(0);
//     }
// } 
// @keyframes wigglecardheader{
//     0%{
//         transform: var(--level-three) translateY( 0)   translateX( 0)    ;   
//     }
//     25%{
//         transform: var(--level-three) translateY(-.7vh) translateX(.5vw) ;
//     }
//     75%{
//         transform: var(--level-three) translateY(.7vh)  translateX(-.5vw) ;
//     }

//     100%{
//         transform: var(--level-three) translateY( 0)  translateX(0vw) ;
//     }
// }
// @keyframes wigglecardCircle{
//     0%{
//         transform: var(--level-three) translateY( 0)   translateX( 0)    ;   
//     }
//     25%{
//         transform: var(--level-three) translateY(-.35vh) translateX(.35vh) ;
//     }
//     50%{
//         transform: var(--level-three) translateY(-.7vh)  translateX(0) ;
//     }
//     75%{
//         transform: var(--level-three) translateY(-.35vh)  translateX(-.35vh) ;
//     }

//     100%{
//         transform: var(--level-three) translateY( 0)  translateX(0) ;
//     }
// }

// @keyframes moveInRight {
//     0% {
//         opacity: 0;
//         transform: translateX(10rem);
//     }

//     80% {
//         transform: translateX(-1rem);
//     }

//     100% {
//         opacity: 1;
//         transform: translate(0);
//     }
// }

// @keyframes moveInBottom {
//     0% {
//         opacity: 0;
//         transform: translateY(3rem);
//     }

//     100% {
//         opacity: 1;
//         transform: translate(0);
//     }
// }